extends ../pug/templates/template
block append style
block content
	main.page
		include ../components/banner/banner.component.pug
		include ../components/products/products.component.pug
		include ../components/faq/faq.component.pug
		include ../components/news/news.component.pug
		include ../components/social/social.component.pug
		include ../components/gallary/gallary.component.pug
		
