dl,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
ul {
  margin-top: 0;
}

address,
dl,
ol,
p,
pre,
ul {
  margin-bottom: 1rem;
}

img,
svg {
  vertical-align: middle;
}

body,
caption {
  text-align: left;
}

button,
hr,
input {
  overflow: visible;
}

pre,
textarea {
  overflow: auto;
}

dd,
h1,
h2,
h3,
h4,
h5,
h6,
label,
legend {
  margin-bottom: .5rem;
}

progress,
sub,
sup {
  vertical-align: baseline;
}

label,
output {
  display: inline-block;
}

[role=button],
[type=button]:not(:disabled),
[type=reset]:not(:disabled),
[type=submit]:not(:disabled),
button:not(:disabled),
summary {
  cursor: pointer;
}

.col,
img,
legend {
  max-width: 100%;
}

.flex-column,
.flex-row {
  -webkit-box-direction: normal!important;
}

.box-list__title,
.box__title,
.details__img-wrap,
.faq__title,
.footer-list__item,
.hero__img-wrap,
.installation__img-wrap,
.page__title,
.tech-specs__img {
  text-align: center;
}

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
picture,
section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0!important;
}

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

abbr[data-original-title],
abbr[title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

address {
  font-style: normal;
  line-height: inherit;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-left: 0;
}

blockquote,
figure {
  margin: 0 0 1rem;
}

.odds__col-img .engine-list__item p,
pre {
  margin-top: 0;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

code,
kbd,
pre,
samp {
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

pre {
  -ms-overflow-style: scrollbar;
}

.box-list__item,
.support__banner,
.wrap-site,
svg {
  overflow: hidden;
}

img {
  border-style: none;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
}

caption {
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #6c757d;
  caption-side: bottom;
}

th {
  text-align: inherit;
  text-align: -webkit-match-parent;
}

button {
  border-radius: 0;
}

button:focus {
  outline: dotted 1px;
  outline: -webkit-focus-ring-color auto 5px;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

[type=button],
[type=reset],
[type=submit],
button {
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type=checkbox],
input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

.h1,
.h2,
h1,
h2 {
  font-size: 32px;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none!important;
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.exposition__num,
.soft-content__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.no-gutters>.col,
.no-gutters>[class*=col-] {
  padding-right: 0;
  padding-left: 0;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  -webkit-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.col-12,
.row-cols-1>* {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.col-6,
.row-cols-2>* {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

.col-4,
.row-cols-3>* {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 33.33333%;
  -ms-flex: 0 0 33.33333%;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-3,
.row-cols-4>* {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 25%;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
}

.row-cols-5>* {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 20%;
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}

.col-2,
.row-cols-6>* {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 16.66667%;
  -ms-flex: 0 0 16.66667%;
  flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-auto {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}

.col-1,
.col-5 {
  -webkit-box-flex: 0;
}

.col-1 {
  -webkit-flex: 0 0 8.33333%;
  -ms-flex: 0 0 8.33333%;
  flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-5 {
  -webkit-flex: 0 0 41.66667%;
  -ms-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-7,
.col-8 {
  -webkit-box-flex: 0;
}

.col-7 {
  -webkit-flex: 0 0 58.33333%;
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-8 {
  -webkit-flex: 0 0 66.66667%;
  -ms-flex: 0 0 66.66667%;
  flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-10,
.col-9 {
  -webkit-box-flex: 0;
}

.col-9 {
  -webkit-flex: 0 0 75%;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -webkit-flex: 0 0 83.33333%;
  -ms-flex: 0 0 83.33333%;
  flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 91.66667%;
  -ms-flex: 0 0 91.66667%;
  flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.order-first {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

.order-last {
  -webkit-box-ordinal-group: 14;
  -webkit-order: 13;
  -ms-flex-order: 13;
  order: 13;
}

.order-0 {
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
}

.order-1 {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
}

.order-2 {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
}

.order-3 {
  -webkit-box-ordinal-group: 4;
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3;
}

.order-4 {
  -webkit-box-ordinal-group: 5;
  -webkit-order: 4;
  -ms-flex-order: 4;
  order: 4;
}

.order-5 {
  -webkit-box-ordinal-group: 6;
  -webkit-order: 5;
  -ms-flex-order: 5;
  order: 5;
}

.order-6 {
  -webkit-box-ordinal-group: 7;
  -webkit-order: 6;
  -ms-flex-order: 6;
  order: 6;
}

.order-7 {
  -webkit-box-ordinal-group: 8;
  -webkit-order: 7;
  -ms-flex-order: 7;
  order: 7;
}

.order-8 {
  -webkit-box-ordinal-group: 9;
  -webkit-order: 8;
  -ms-flex-order: 8;
  order: 8;
}

.order-9 {
  -webkit-box-ordinal-group: 10;
  -webkit-order: 9;
  -ms-flex-order: 9;
  order: 9;
}

.order-10 {
  -webkit-box-ordinal-group: 11;
  -webkit-order: 10;
  -ms-flex-order: 10;
  order: 10;
}

.order-11 {
  -webkit-box-ordinal-group: 12;
  -webkit-order: 11;
  -ms-flex-order: 11;
  order: 11;
}

.order-12 {
  -webkit-box-ordinal-group: 13;
  -webkit-order: 12;
  -ms-flex-order: 12;
  order: 12;
}

.offset-1 {
  margin-left: 8.33333%;
}

.offset-2 {
  margin-left: 16.66667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.33333%;
}

.offset-5 {
  margin-left: 41.66667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.33333%;
}

.offset-8 {
  margin-left: 66.66667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.33333%;
}

.offset-11 {
  margin-left: 91.66667%;
}

.flex-row {
  -webkit-box-orient: horizontal!important;
  -webkit-flex-direction: row!important;
  -ms-flex-direction: row!important;
  flex-direction: row!important;
}

.flex-column {
  -webkit-box-orient: vertical!important;
  -webkit-flex-direction: column!important;
  -ms-flex-direction: column!important;
  flex-direction: column!important;
}

.flex-column-reverse,
.flex-row-reverse {
  -webkit-box-direction: reverse!important;
}

.flex-row-reverse {
  -webkit-box-orient: horizontal!important;
  -webkit-flex-direction: row-reverse!important;
  -ms-flex-direction: row-reverse!important;
  flex-direction: row-reverse!important;
}

.flex-column-reverse {
  -webkit-box-orient: vertical!important;
  -webkit-flex-direction: column-reverse!important;
  -ms-flex-direction: column-reverse!important;
  flex-direction: column-reverse!important;
}

.flex-wrap {
  -webkit-flex-wrap: wrap!important;
  -ms-flex-wrap: wrap!important;
  flex-wrap: wrap!important;
}

.flex-nowrap {
  -webkit-flex-wrap: nowrap!important;
  -ms-flex-wrap: nowrap!important;
  flex-wrap: nowrap!important;
}

.flex-wrap-reverse {
  -webkit-flex-wrap: wrap-reverse!important;
  -ms-flex-wrap: wrap-reverse!important;
  flex-wrap: wrap-reverse!important;
}

.flex-fill {
  -webkit-box-flex: 1!important;
  -webkit-flex: 1 1 auto!important;
  -ms-flex: 1 1 auto!important;
  flex: 1 1 auto!important;
}

.flex-grow-0 {
  -webkit-box-flex: 0!important;
  -webkit-flex-grow: 0!important;
  -ms-flex-positive: 0!important;
  flex-grow: 0!important;
}

.flex-grow-1 {
  -webkit-box-flex: 1!important;
  -webkit-flex-grow: 1!important;
  -ms-flex-positive: 1!important;
  flex-grow: 1!important;
}

.flex-shrink-0 {
  -webkit-flex-shrink: 0!important;
  -ms-flex-negative: 0!important;
  flex-shrink: 0!important;
}

.flex-shrink-1 {
  -webkit-flex-shrink: 1!important;
  -ms-flex-negative: 1!important;
  flex-shrink: 1!important;
}

.justify-content-start {
  -webkit-box-pack: start!important;
  -webkit-justify-content: flex-start!important;
  -ms-flex-pack: start!important;
  justify-content: flex-start!important;
}

.justify-content-end {
  -webkit-box-pack: end!important;
  -webkit-justify-content: flex-end!important;
  -ms-flex-pack: end!important;
  justify-content: flex-end!important;
}

.justify-content-center {
  -webkit-box-pack: center!important;
  -webkit-justify-content: center!important;
  -ms-flex-pack: center!important;
  justify-content: center!important;
}

.justify-content-between {
  -webkit-box-pack: justify!important;
  -webkit-justify-content: space-between!important;
  -ms-flex-pack: justify!important;
  justify-content: space-between!important;
}

.justify-content-around {
  -webkit-justify-content: space-around!important;
  -ms-flex-pack: distribute!important;
  justify-content: space-around!important;
}

.align-items-start {
  -webkit-box-align: start!important;
  -webkit-align-items: flex-start!important;
  -ms-flex-align: start!important;
  align-items: flex-start!important;
}

.align-items-end {
  -webkit-box-align: end!important;
  -webkit-align-items: flex-end!important;
  -ms-flex-align: end!important;
  align-items: flex-end!important;
}

.align-items-center {
  -webkit-box-align: center!important;
  -webkit-align-items: center!important;
  -ms-flex-align: center!important;
  align-items: center!important;
}

.align-items-baseline {
  -webkit-box-align: baseline!important;
  -webkit-align-items: baseline!important;
  -ms-flex-align: baseline!important;
  align-items: baseline!important;
}

.align-items-stretch {
  -webkit-box-align: stretch!important;
  -webkit-align-items: stretch!important;
  -ms-flex-align: stretch!important;
  align-items: stretch!important;
}

.align-content-start {
  -webkit-align-content: flex-start!important;
  -ms-flex-line-pack: start!important;
  align-content: flex-start!important;
}

.align-content-end {
  -webkit-align-content: flex-end!important;
  -ms-flex-line-pack: end!important;
  align-content: flex-end!important;
}

.align-content-center {
  -webkit-align-content: center!important;
  -ms-flex-line-pack: center!important;
  align-content: center!important;
}

.align-content-between {
  -webkit-align-content: space-between!important;
  -ms-flex-line-pack: justify!important;
  align-content: space-between!important;
}

.align-content-around {
  -webkit-align-content: space-around!important;
  -ms-flex-line-pack: distribute!important;
  align-content: space-around!important;
}

.align-content-stretch {
  -webkit-align-content: stretch!important;
  -ms-flex-line-pack: stretch!important;
  align-content: stretch!important;
}

.align-self-auto {
  -webkit-align-self: auto!important;
  -ms-flex-item-align: auto!important;
  align-self: auto!important;
}

.align-self-start {
  -webkit-align-self: flex-start!important;
  -ms-flex-item-align: start!important;
  align-self: flex-start!important;
}

.align-self-end {
  -webkit-align-self: flex-end!important;
  -ms-flex-item-align: end!important;
  align-self: flex-end!important;
}

.align-self-center {
  -webkit-align-self: center!important;
  -ms-flex-item-align: center!important;
  align-self: center!important;
}

.align-self-baseline {
  -webkit-align-self: baseline!important;
  -ms-flex-item-align: baseline!important;
  align-self: baseline!important;
}

.align-self-stretch {
  -webkit-align-self: stretch!important;
  -ms-flex-item-align: stretch!important;
  align-self: stretch!important;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

.h1,
h1 {
  font-weight: 700;
  line-height: 1.33;
}

.h2,
h2 {
  font-weight: 500;
  line-height: 1.37;
}

.h3,
h3 {
  font-size: 28px;
  font-weight: 700;
}

.wrap-site,
body {
  font-size: 16px;
  color: #222;
}

.wrap-site {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  line-height: 1.5;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1070px;
}

.section {
  padding: 50px 0;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.responsive-img,
.responsive-media {
  position: relative;
  background-position: center;
}

.responsive-img:before,
.responsive-media:before {
  content: '';
  display: block;
  width: 100%;
  height: 0;
  padding-top: 100%;
}

.responsive-img>img,
.responsive-img>picture,
.responsive-img>picture>img,
.responsive-img>video,
.responsive-media>img,
.responsive-media>picture,
.responsive-media>picture>img,
.responsive-media>video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.page__title {
  color: #222;
  font-size: 32px;
  line-height: 137%;
  padding-bottom: 35px;
  margin: 0;
  font-weight: 400;
}

.hero {
  padding-top: 69px;
}

.hero__img-wrap img {
  -o-object-fit: contain;
  object-fit: contain;
}

.details,
.soft {
  padding-top: 121px;
}

.details__item {
  padding-top: 55px;
}

.details__img-wrap img {
  -o-object-fit: contain;
  object-fit: contain;
}

.details-content {
  padding-top: 40px;
}

.details-content__title {
  color: #222;
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 133%;
  font-weight: 500;
}

.details-content__text {
  color: #222;
  max-width: 440px;
  font-size: 16px;
  line-height: 175%;
  margin: 0;
}

.exposition,
.installation {
  padding-top: 118px;
}

.soft .container {
  width: 90%;
  background-color: #f7f8fa;
  border-radius: 12px;
  position: relative;
  padding-bottom: 39px;
}

.soft-content {
  padding: 43px 17px 0;
}

.soft-content__item {
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 13px;
}

.odds__col-img .engine-list__item:nth-child(-n+2),
.odds__title,
.tech-specs__list {
  margin-bottom: 60px;
}

.soft-content__item svg {
  min-width: 60px;
}

.soft-content__item p {
  color: #222;
  font-size: 16px;
  line-height: 150%;
  font-weight: 700;
  margin-left: 20px;
}

.soft-content__item img {
  width: 56px;
}

.exposition__image-wrap {
  display: block;
  left: 50%;
  width: 700px;
  margin-left: -170px;
}

.exposition__image-wrap:before {
  padding-top: 38.16667%;
}

.exposition__nums {
  counter-reset: nums;
  list-style: none;
}

.exposition__num {
  position: absolute;
  z-index: 1;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ff472e;
  -webkit-box-shadow: 0 0 0 6px rgba(255,71,46,.2);
  box-shadow: 0 0 0 6px rgba(255,71,46,.2);
  color: #fff;
}

.exposition__num:before {
  counter-increment: nums;
  content: counter(nums);
}

.exposition__num--1 {
  top: 70px;
  left: 70px;
}

.exposition__num--2 {
  top: 100px;
  left: 130px;
}

.exposition__num--3 {
  bottom: 60px;
  left: 303px;
}

.exposition__num--4 {
  top: 220px;
  left: 330px;
}

.exposition__list {
  position: relative;
  padding-left: 1em;
  margin-top: 60px;
}

.exposition__list-item {
  margin-top: 12px;
  font-size: 18px;
  line-height: 100%;
  font-weight: 700;
}

.odds__col-img {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 60px;
}

.odds__col-img .engine-list {
  margin-top: 0;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  max-height: 280px;
}

.odds__col-img .engine-list__item span {
  font-size: 28px;
  line-height: 1.429em;
}

.odds__img-wrap {
  width: 280px;
  height: 249px;
}

.odds__img-wrap:before {
  padding-top: 85.57692%;
}

.odds__img-wrap img {
  -o-object-fit: contain;
  object-fit: contain;
}

.odds__list {
  margin-top: -40px;
  list-style: none;
}

.odds__item {
  margin-top: 40px;
}

.odds__item-icon {
  display: block;
  font-size: 34px;
  margin-bottom: 15px;
}

.box-list,
.box-list__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}

.odds__item-icon svg {
  display: block;
}

.odds__item-text {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.3;
}

.box {
  padding-top: 160px;
}

.box__title {
  margin-bottom: 70px;
}

.box-list__item,
.faq__item:not(:last-child) {
  margin-bottom: 40px;
}

.box-list {
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.box-list__item {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 48%;
  -ms-flex: 0 0 48%;
  flex: 0 0 48%;
  padding: 25px 0 35px;
  min-height: 325px;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f7f8fa;
  border-radius: 12px;
  position: relative;
}

.box-list__item:nth-child(1),
.box-list__item:nth-child(5) {
  padding-bottom: 0;
}

.box-list__item:nth-child(1) picture,
.box-list__item:nth-child(5) picture {
  margin-top: auto;
}

.box-list__item picture {
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
}

.box-list__title {
  font-size: 24px;
  margin-bottom: 30px;
}

.faq,
.perfromance,
.tech-specs {
  padding-top: 120px;
}

.tech-specs__list-item {
  padding-top: 18px;
  padding-bottom: 32px;
  border-bottom: 2px solid rgba(0,0,0,.1);
}

.tech-specs__list-item:last-child {
  border-bottom: none;
}

.tech-specs__list-item-title {
  color: #222;
  font-size: 24px;
  line-height: 133%;
  font-weight: 600;
}

.tech-specs__list-item-text {
  color: #222;
  font-size: 16px;
  line-height: 175%;
}

.perfromance__list-item-title {
  color: #000;
  font-weight: 600;
  font-size: 28px;
  line-height: 129%;
}

.perfromance__list-item {
  margin-bottom: 50px;
}

.perfromance__list-item ul {
  padding-left: 20px;
}

.perfromance__list-item li {
  color: #222;
  font-size: 20px;
  line-height: 32px;
}

.faq__title {
  margin-bottom: 60px;
}

.faq__list {
  max-width: 944px;
  margin: 0 auto;
  padding-top: .1px;
}

.faq__item {
  border: 1px solid #e9e9e9;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 22px 40px;
}

.faq__item-title {
  margin-bottom: 10px;
}

.faq__item-text {
  font-size: 20px;
  line-height: 1.6em;
}

.faq__footnote {
  margin: 50px auto 0;
  opacity: .3;
  max-width: 944px;
  font-size: 13px;
}

.support__banner {
  position: relative;
  background: #191512;
  background: -webkit-gradient(linear,left top,right top,color-stop(0,#191512),to(#1c1b19));
  background: linear-gradient(90deg,#191512 0,#1c1b19 100%);
  color: #fff;
  border-radius: 12px;
}

.support__title {
  font-size: 24px;
  font-weight: 500;
  padding: 34px 32px;
}

.support__img-wrap img {
  width: 100%;
}

.footer {
  padding-bottom: 140px;
}

.footer-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-list__item svg {
  display: block;
  margin: 0 auto 15px;
}

.footer-list__item p {
  margin: 0;
  text-align: center;
  line-height: 1.75em;
  max-width: 230px;
}

.footer-list__item p span {
  font-weight: 700;
}