.bannerFlexContainer,
.debugGrid .parentFlex,
.footerFlexContainer,
.footerPrivacy,
.headerFlexContainer {
  margin-left: -23px;
  margin-right: -23px;
}

.bannerText,
.child,
.debugGrid .childFlex,
.footer h4,
.footer hr,
.footerAdvantagesItem,
.footerContacts,
.footerContactsItem,
.footerDealer,
.footerLinks,
.footerLogo,
.footerPrivacy div,
.headerLogo,
.headerNav {
  margin-left: 23px;
  margin-right: 23px;
}

.debugGrid .childFlex,
.footerLinks {
  width: -webkit-calc(11.11111% - 46px);
  width: calc(11.11111% - 46px);
}

.bannerText,
.headerLogo {
  width: -webkit-calc(31.11111% - 46px);
  width: calc(31.11111% - 46px);
}

.bannerImg {
  width: -webkit-calc(102.22222% - 46px);
  width: calc(102.22222% - 46px);
}

.bannerImg img {
  width: auto;
}

.footerLogo {
  width: -webkit-calc(20% - 46px);
  width: calc(20% - 46px);
  padding-top: 10px;
}

.footerDealer {
  width: -webkit-calc(22.22222% - 46px);
  width: calc(22.22222% - 46px);
}

.footerContacts {
  width: -webkit-calc(55.55556% - 46px);
  width: calc(55.55556% - 46px);
}

.child,
.footerContactsItem {
  width: -webkit-calc(50% - 46px);
  width: calc(50% - 46px);
}

.footerContactsItem:last-child {
  width: -webkit-calc(100% - 46px);
  width: calc(100% - 46px);
}

.footerAdvantages,
.footerLinks:last-child {
  display: block;
}

.footerAdvantagesItem {
  width: -webkit-calc(33.33333% - 46px);
  width: calc(33.33333% - 46px);
  padding-top: 30px;
}

.footerPrivacy .item1 {
  width: -webkit-calc(44.44444% - 46px);
  width: calc(44.44444% - 46px);
}

.footerPrivacy .item2 {
  width: -webkit-calc(22.22222% - 46px);
  width: calc(22.22222% - 46px);
}

.footerPrivacy .item3 {
  width: -webkit-calc(33.33333% - 46px);
  width: calc(33.33333% - 46px);
}

.header {
  background: 0 0;
}

.headerNav {
  width: -webkit-calc(68.88889% - 46px);
  width: calc(68.88889% - 46px);
}

.headerNavLinks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}