.addToCartContainer {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.advantages {
  padding: 15px 80px 50px;
}

.advantagesFlexContainer {
  margin-left: -15px;
  margin-right: -15px;
}

.advantagesItem {
  margin-left: 15px;
  margin-right: 15px;
}

.advantagesItem {
  width: -webkit-calc(50% - 30px);
  width: calc(50% - 30px);
}

.banner.bannerRs {
  padding-bottom: 0;
}

.banner.bannerRs .bannerSelect {
  top: 82%;
}

.banner.bannerGtr {
  padding-bottom: 0;
}

.banner.bannerGtr .bannerSelect {
  top: 82%;
}

.banner.bannerChip {
  padding-bottom: 0;
}

.banner.bannerChip .bannerSelect {
  top: 82%;
}

.banner .page__title-h1 {
  margin-top: 105px;
}

.banner .page__title-h1_big {
  top: 177px;
}

.banner .pageText {
  margin-bottom: 58px;
}

.banner .socialIcons {
  margin-bottom: 55px;
}

.banner .bannerSelect {
  top: 72%;
  width: 100%;
}

.banner .bannerSelect.fixed {
  width: auto;
  left: 100%;
  top: 50%;
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
  height: 20%;
}

.banner .bannerSelect.fixed .selectBoxActionSelected {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.banner .bannerSelect.fixed .selectBoxContainer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 16px;
  padding: 0;
}

.banner .bannerSelect.fixed .selectBoxContainer .select .select-box {
  border-right: 0;
}

.banner .bannerSelect.fixed .selectBoxContainer .select .select-box__list {
  top: 25px;
}

.bannerFlexContainer {
  margin-left: -30px;
  margin-right: -30px;
}

.bannerText {
  margin-left: 15px;
  margin-right: 15px;
}

.bannerText {
  padding-top: 12px;
  padding-left: 50px;
}

.bannerImgChip {
  top: 61%;
}

.cartDetails {
  margin-left: 15px;
  margin-right: 15px;
}

.cartForm {
  margin-left: 15px;
  margin-right: 15px;
}

.cartForm .page__input {
  margin-left: 15px;
  margin-right: 15px;
}

.cartForm .name,
.cartForm .country,
.cartForm .code,
.cartForm .phone,
.cartForm .year {
  margin-left: 15px;
  margin-right: 15px;
}

.cartFormRow {
  margin-left: -15px;
  margin-right: -15px;
}

.cartProducts {
  margin-left: 15px;
  margin-right: 15px;
}

.cartProductsHeader {
  margin-left: -15px;
  margin-right: -15px;
}

.cartProductsHeader {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.cartProductsHeader div {
  margin-left: 15px;
  margin-right: 15px;
}

.cartProductName {
  margin-left: 15px;
  margin-right: 15px;
}

.cartProductQuantity {
  margin-left: 15px;
  margin-right: 15px;
}

.cartProductPrice {
  margin-left: 15px;
  margin-right: 15px;
}

.cartProductSelect .selectBoxContainer .select {
  width: 33%;
}

.cartProductSelect .selectBoxContainer .select .select-box {
  border-right: 1px solid rgba(255, 255, 255, 0.15);
}

.debugGrid .parentFlex {
  margin-left: -15px;
  margin-right: -15px;
}

.debugGrid .childFlex {
  margin-left: 15px;
  margin-right: 15px;
}

.debugGrid .childFlex {
  width: -webkit-calc(11.11111% - 30px);
  width: calc(11.11111% - 30px);
}

.faq {
  padding: 135px 0 115px;
}

.faq .page__title-h3 {
  font-size: 36px;
  margin-bottom: 32px;
  line-height: 164%;
}

.faqFlexContainer {
  margin-left: -15px;
  margin-right: -15px;
}

.faqCol {
  margin-left: 15px;
  margin-right: 15px;
}

.footer {
  padding: 90px 0 30px;
}

.footer::before {
  width: 544px;
  height: 261px;
}

.footer h4 {
  margin-left: 15px;
  margin-right: 15px;
}

.footer h4 {
  margin-top: 36px;
}

.footer hr {
  margin-left: 15px;
  margin-right: 15px;
}

.footerFlexContainer {
  margin-left: -15px;
  margin-right: -15px;
}

.footerLogo {
  margin-left: 15px;
  margin-right: 15px;
}

.footerLogo {
  width: -webkit-calc(33.33333% - 30px);
  width: calc(33.33333% - 30px);
}

.footerLogo {
  text-align: left;
  margin-bottom: 0;
}

.footerDealer {
  margin-left: 15px;
  margin-right: 15px;
}

.footerDealer {
  width: -webkit-calc(33.33333% - 30px);
  width: calc(33.33333% - 30px);
}

.footerDealer {
  position: absolute;
  top: 65px;
  left: 0;
}

.footerContacts {
  margin-left: 15px;
  margin-right: 15px;
}

.footerContacts {
  width: -webkit-calc(66.66667% - 30px);
  width: calc(66.66667% - 30px);
}

.footerContactsItem {
  margin-left: 15px;
  margin-right: 15px;
}

.footerContactsItem {
  width: -webkit-calc(50% - 30px);
  width: calc(50% - 30px);
}

.footerContactsItem {
  margin-bottom: 32px;
}

.footerContactsItem:last-child {
  width: -webkit-calc(100% - 30px);
  width: calc(100% - 30px);
}

.footerAdvantagesItem {
  margin-left: 15px;
  margin-right: 15px;
}

.footerLinks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.footerLinksItem {
  margin-left: 15px;
  margin-right: 15px;
}

.footerLinksItem {
  width: -webkit-calc(25% - 30px);
  width: calc(25% - 30px);
}

.footerPrivacy {
  margin-left: -15px;
  margin-right: -15px;
}

.footerPrivacy {
  padding: 40px 0;
}

.footerPrivacy div {
  margin-left: 15px;
  margin-right: 15px;
}

.footerPrivacy .item1 {
  width: -webkit-calc(44.44444% - 30px);
  width: calc(44.44444% - 30px);
}

.footerPrivacy .item2 {
  width: -webkit-calc(22.22222% - 30px);
  width: calc(22.22222% - 30px);
}

.footerPrivacy .item3 {
  width: -webkit-calc(33.33333% - 30px);
  width: calc(33.33333% - 30px);
}

.footerPrivacy .item3 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.form .page__from {
  margin-left: -15px;
  margin-right: -15px;
}

.form .page__input {
  margin-left: 15px;
  margin-right: 15px;
}

.form .page__input:nth-child(1) {
  width: -webkit-calc(50% - 30px);
  width: calc(50% - 30px);
}

.form .page__input:nth-child(2) {
  width: -webkit-calc(50% - 30px);
  width: calc(50% - 30px);
}

.form .page__textarea {
  margin-left: 15px;
  margin-right: 15px;
}

.form .page__btn {
  margin-left: 15px;
  margin-right: 15px;
}

.formFlexContaier {
  margin-left: -15px;
  margin-right: -15px;
}

.formAction {
  margin-left: 15px;
  margin-right: 15px;
}

.formImg {
  margin-left: 15px;
  margin-right: 15px;
}

.gallary {
  padding: 69px 0 100px;
}

.gallaryFlexContainer {
  margin-left: -15px;
  margin-right: -15px;
}

.gallaryCol {
  margin-left: 15px;
  margin-right: 15px;
}

.gallaryCol {
  width: -webkit-calc(33.33333% - 30px);
  width: calc(33.33333% - 30px);
}

.gallaryCol:nth-child(2) .gallaryItem:nth-of-type(1) {
  height: 180px;
}

.gallaryCol:nth-child(2) .gallaryItem:nth-of-type(2) {
  height: 253px;
}

.gallaryCol:nth-child(3) {
  width: -webkit-calc(33.33333% - 30px);
  width: calc(33.33333% - 30px);
}

.gallaryCol:nth-child(3) {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.gallaryCol:nth-child(3) .gallaryItem {
  width: 100%;
}

.gallaryCol:nth-child(3) .gallaryItem:nth-of-type(1) {
  height: 211px;
}

.gallaryCol:nth-child(3) .gallaryItem:nth-of-type(2) {
  height: 223px;
}

.gallaryItem {
  height: 253px;
  margin-bottom: 29px;
}

.gallaryItem:nth-of-type(2) {
  height: 180px;
}

.headerFlexContainer {
  margin-left: -15px;
  margin-right: -15px;
}

.headerLogo {
  margin-left: 15px;
  margin-right: 15px;
}

.headerLogo {
  width: -webkit-calc(50% - 30px);
  width: calc(50% - 30px);
}

.headerLogo {
  text-align: left;
}

.headerNav {
  margin-left: 15px;
  margin-right: 15px;
}

.headerNav {
  width: -webkit-calc(50% - 30px);
  width: calc(50% - 30px);
}

.headerNav {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.headerNavCart {
  margin-left: 4%;
  margin-left: 0;
}

.headerNavBtn {
  margin-left: 15px;
  margin-right: 15px;
}

.headerNavBtn {
  margin-left: 2%;
}

.headerNavBurgerMenu {
  margin-left: 15px;
  margin-right: 15px;
}

.menu {
  padding: 47px 30px;
}

.menu.active {
  display: block;
}

.menuHeader {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menuLogo {
  margin: 0;
  width: auto;
}

.menuNav {
  padding-top: 24%;
}

.menuLink {
  font-size: 36px;
  line-height: 80px;
}

.menuConacts {
  width: 65%;
  padding-top: 25%;
}

.menuConactsItem {
  margin-left: 15px;
  margin-right: 15px;
}

.menuConactsItem {
  width: -webkit-calc(50% - 30px);
  width: calc(50% - 30px);
}

.menuConactsItem {
  margin-bottom: 32px;
}

.menuConactsItem:nth-of-type(3) {
  width: -webkit-calc(100% - 30px);
  width: calc(100% - 30px);
}

.menuConactsItem:nth-of-type(3) {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.menuConactsIcons {
  padding-top: 11%;
}

.news {
  padding: 104px 0 100px;
}

.news .page__title-h3 {
  font-size: 36px;
  line-height: 164%;
}

.newsFlexContainer {
  margin-left: -15px;
  margin-right: -15px;
}

.newsItem {
  margin-left: 15px;
  margin-right: 15px;
}

.newsItem {
  width: -webkit-calc(50% - 30px);
  width: calc(50% - 30px);
}

.performanceTableItemTd {
  margin-left: 15px;
  margin-right: 15px;
}

.performanceTableItemTd {
  width: -webkit-calc(22.22222% - 30px);
  width: calc(22.22222% - 30px);
}

.performanceTableItemTd:nth-child(1) {
  width: -webkit-calc(33.33333% - 30px);
  width: calc(33.33333% - 30px);
}

.performanceTableItemTd div {
  width: 80%;
}

.product {
  padding: 122px 0 110px;
}

.product .page__title-h3 {
  width: 50%;
  margin: 10px auto 30px;
  font-size: 36px;
  line-height: 59px;
}

.productFlexContainer {
  margin-left: -15px;
  margin-right: -15px;
}

.productImg {
  margin-left: 15px;
  margin-right: 15px;
}

.productText {
  margin-left: 15px;
  margin-right: 15px;
}

.productText .page__title-h4 {
  margin-top: 50px;
  margin-bottom: 45px;
  font-size: 24px;
  line-height: 43px;
}

.productText .page__ul {
  width: 74%;
  margin: 0 auto 8%;
  padding-left: 0;
}

.productText .page__ul .page__li {
  width: 50%;
}

.productPrice {
  display: block;
}

.productPrice__cost {
  margin-left: 60px;
}

.productSlider {
  padding: 107px 0;
}

.productSlider .page__title-h3 {
  width: 100%;
  margin: 10px auto 30px;
  font-size: 36px;
  line-height: 59px;
}

.productSlider .productSliderPrice {
  display: block;
  margin-top: 5%;
}

.productSlider .productPrice__cost {
  margin-left: 75px;
}

.productSliderFlexContainer {
  margin-left: -15px;
  margin-right: -15px;
}

.productSliderFlexContainer {
  padding-top: 3%;
}

.productSliderGallary {
  margin-left: 15px;
  margin-right: 15px;
}

.productSliderGallary__Main {
  margin-bottom: 45px;
}

.productSliderGallary__Thumbnails {
  width: 65%;
  margin: 0 auto;
}

.productSliderAdvantages {
  margin-left: 15px;
  margin-right: 15px;
}

.productSliderAdvantages {
  padding-left: 7%;
}

.productSliderAdvantagesItem {
  width: 50%;
}

.productSliderText {
  width: 100%;
  margin-top: 45px;
}

.setps .page__title-h3 {
  width: 75%;
  margin: 8px auto 50px;
  font-size: 36px;
  line-height: 59px;
}

.setps.productGTR .page__title-h3 {
  margin: 8px auto 50px;
}

.stepsItems {
  margin-left: -15px;
  margin-right: -15px;
}

.stepsItem {
  margin-left: 15px;
  margin-right: 15px;
}

.stepsItem {
  width: -webkit-calc(50% - 30px);
  width: calc(50% - 30px);
}

.stepsItemGTR {
  margin-left: 15px;
  margin-right: 15px;
}

.stepsItemGTR {
  width: -webkit-calc(66.66667% - 30px);
  width: calc(66.66667% - 30px);
}

.products {
  padding: 61px 0 122px;
}

.products .page__title-h2 {
  margin-bottom: 62px;
}

.productsFlexContainer {
  margin-left: -15px;
  margin-right: -15px;
}

.productsItem {
  margin-left: 15px;
  margin-right: 15px;
}

.productsItem {
  width: -webkit-calc(50% - 30px);
  width: calc(50% - 30px);
}

.productsItem {
  padding: 48px 17px 30px;
  margin-bottom: 0;
}

.productsItemTitle {
  font-size: 24px;
  padding-bottom: 21px;
}

.productsItemTextBefore {
  padding: 0 0 34px;
}

.productsItemGain {
  margin-top: 11px;
  padding-bottom: 27px;
}

.productsItemGain__text .number {
  font-size: 36px;
}

.productsItemTextAfter {
  padding: 0 46px 29px;
  text-align: center;
}

.productsItemActions .page__btn {
  margin-bottom: 20px;
  width: 55%;
}

.productsItemCart {
  padding: 88px 50px 38px;
  margin-bottom: 43px;
}

.productsCartAdvatages {
  margin-left: -15px;
  margin-right: -15px;
}

.productsCartAdvatagesItem {
  margin-left: 15px;
  margin-right: 15px;
}

.selectBoxText {
  display: block;
}

.selectBoxContainer .select:nth-child(2) .select-box {
  border-right: 1px solid rgba(255, 255, 255, 0.15);
}

.selectBoxContainer .select {
  width: auto;
  border-bottom: 0;
}

.selectBoxContainer .select.Modification.Selected {
  margin: 0;
}

.selectBoxContainer .selectBoxAction {
  margin: 0 15px;
  width: auto;
  margin: 0;
}

.selectBoxContainer .selectBoxAction.Selected {
  margin: 0 15px;
  width: auto;
  margin: 0;
}

.selectBoxContainer .selectBoxActionSelected {
  margin: 3.5px 0px;
}

.selectBoxContainer .selectBoxActionSelected .page__btn {
  padding: 12px 10px;
}

.select-box {
  position: relative;
}

.select-box__current {
  padding: 0 15px;
}

.select-box__icon {
  right: 15px;
}

.select-box__list {
  position: absolute;
  bottom: auto;
  top: 40px;
  max-height: 200px;
  border-radius: 16px;
}

.social .page__title-h2_big {
  font-size: 144px;
  margin-top: 77px;
}

.socialText .page__text {
  width: 100%;
  font-size: 36px;
  margin-top: -62px;
}

.howitworkChip .page__title-h3 {
  margin-bottom: 40px;
}

.howitworkChipRowFlex {
  margin-left: -15px;
  margin-right: -15px;
}

.howitworkChipCol {
  margin-left: 15px;
  margin-right: 15px;
}

.howitworkChipImg {
  margin-top: 9%;
}

.optimizeBlock .page__title-h3 {
  letter-spacing: 0.06em;
  padding-left: 6%;
  margin-top: 1%;
  margin-bottom: 6%;
  font-size: 36px;
  line-height: 59px;
}

.optimizeBlockTextDescription {
  margin-top: 4%;
}

.optimizeRowFlex {
  margin-left: -15px;
  margin-right: -15px;
}

.optimizeBlockContainer {
  margin-right: 28px;
  padding: 8% 0;
}

.optimizeBlockChart {
  margin: 13% -15px -50px -15px;
}

.optimizeBlockChart .tab-link {
  padding: 0px 42px;
  line-height: 42px;
}

.optimizeBlockText {
  margin-left: 15px;
  margin-right: 15px;
}

.optimizeBlockText {
  width: -webkit-calc(100% - 30px);
  width: calc(100% - 30px);
}

.optimizeBlockImg {
  margin-left: 15px;
  margin-right: 15px;
}

.powerRowFlex {
  margin-left: -15px;
  margin-right: -15px;
}

.powerContainer {
  margin-right: 4%;
}

.powerText {
  margin-left: 15px;
  margin-right: 15px;
}

.powerText {
  width: -webkit-calc(45.55556% - 30px);
  width: calc(45.55556% - 30px);
}

.powerText {
  padding: 12% 5%;
}

.powerText .page__title-h3 {
  font-size: 36px;
  line-height: 59px;
  margin-top: 5%;
  padding-right: 5%;
  width: 260%;
}

.powerImg {
  margin-left: 15px;
  margin-right: 15px;
}

.powerImg {
  width: -webkit-calc(63.33333% - 30px);
  width: calc(63.33333% - 30px);
}

.powerImg {
  margin-left: -webkit-calc(-10% + 15px);
  margin-left: calc(-10% + 15px);
}

.powerImg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin-top: 47%;
}

.powerTextItems {
  margin-left: -15px;
  margin-right: -15px;
}

.powerTextItems {
  padding-top: 55%;
  padding-right: 0;
}

.powerTextItem {
  margin-left: 15px;
  margin-right: 15px;
}

.powerTextItem {
  padding: 7px 19px;
  margin-bottom: 15%;
}

.accomplishments .page__title-h3 {
  font-size: 36px;
  line-height: 59px;
}

.accomplishments::before,
.accomplishments::after {
  width: 497px;
  height: 497px;
}

.accomplishments::before {
  left: -25%;
}

.accomplishments::after {
  right: -85%;
}

.accomplishmentsRowFlex {
  margin-left: -15px;
  margin-right: -15px;
}

.accomplishmentsItem {
  margin-left: 15px;
  margin-right: 15px;
}

.accomplishmentsItem {
  width: -webkit-calc(55.55556% - 30px);
  width: calc(55.55556% - 30px);
}

.accomplishmentsItemTitle {
  font-size: 24px;
  line-height: 52px;
}

.appBlockRowFlex {
  margin-left: -15px;
  margin-right: -15px;
}

.appBlockContainer {
  padding: 12% 5%;
}

.appBlockText {
  margin-left: 15px;
  margin-right: 15px;
}

.carSelectorRowFlex {
  margin-left: -15px;
  margin-right: -15px;
}

.carSelectorIcons {
  margin-left: 15px;
  margin-right: 15px;
}

.howitworkRowFlex {
  margin-left: -15px;
  margin-right: -15px;
}

.howitworkContainer {
  padding: 60px 0;
}

.howitworkImg {
  margin-left: 15px;
  margin-right: 15px;
}

.howitworkText {
  margin-left: 15px;
  margin-right: 15px;
}

.installationRowFlex {
  margin-left: -15px;
  margin-right: -15px;
}

.installationImg {
  margin-left: 15px;
  margin-right: 15px;
}

.installationText {
  margin-left: 15px;
  margin-right: 15px;
}

.installationText {
  padding-left: 9%;
}

.productRsControlsRowFlex {
  margin-left: -15px;
  margin-right: -15px;
}

.productRsControlsContainer {
  margin-right: 4%;
}

.productRsControlsTitle {
  padding-right: 24%;
  margin-top: 12%;
  margin-left: 7%;
  margin-bottom: 11%;
}

.productRsControlsTitle .page__title-h4 {
  font-size: 36px;
  line-height: 59px;
  letter-spacing: 0.11em;
}

.productRsControlsImg {
  width: auto;
  margin-left: -3%;
}

.productRsControlsToggles {
  width: 40%;
  margin-top: 7%;
  margin-left: 3%;
  margin-bottom: 0;
}

.productRsSafestRowFlex {
  margin-left: -15px;
  margin-right: -15px;
}

.productRsSafestImg {
  margin-left: 15px;
  margin-right: 15px;
}

.productRsSafestText {
  margin-left: 15px;
  margin-right: 15px;
}

.productRsSafestText .page__title-h4 {
  margin-top: 3%;
  margin-bottom: 7%;
  font-size: 36px;
  line-height: 59px;
}

.productRsSafestText .page__title-h4 span {
  display: block;
}

.productRsSafestIconsItem {
  margin-right: 18%;
}

.page__title-h1_big {
  top: 115px;
  right: 20px;
  font-size: 144px;
}

.page__title-h2_big {
  font-size: 96px;
}

.usEmail::before {
  width: 544px;
  height: 544px;
}

.contactCardsFlexContainer {
  margin-left: -15px;
  margin-right: -15px;
}

.contactCard {
  margin-left: 15px;
  margin-right: 15px;
}

.cartTable {
  margin-left: -15px;
  margin-right: -15px;
}