//-gallary
mixin item(imgSrc)
    .gallaryItem.js-open-modal(data-modal="modalGallary")
        img(src=imgSrc, alt="imgGallary")
section.gallary
    .wrapper
        .gallaryFlexContainer
            .gallaryCol
                +item("assets/images/png/gallary/imgGallary1.png")
                +item("assets/images/png/gallary/imgGallary2.png")
            .gallaryCol
                +item("assets/images/png/gallary/imgGallary3.png")
                +item("assets/images/png/gallary/imgGallary4.png")
            .gallaryCol
                +item("assets/images/png/gallary/imgGallary5.png")
                +item("assets/images/png/gallary/imgGallary6.png")