extends ../../pug/templates/template

block base
	base(href="../")

block title
	title Contacts

block append style

block content
	main.page
		.wrapper
			h2.page__title-h2.page__title-h2_big WELLCOME 
				span.page__title-h2_small.page__title-h2_absolute Get in touch 
			h2 Contact Us
		
		include ../../components/contactCards/contactCards.component.pug
		include ../../components/form/form.component.pug
		include ../../components/map/map.component.pug
		include ../../components/social/social.component.pug