extends ../../pug/templates/template

block base
	base(href="../")

block title
	title Contacts

block append style

block content
	main.page
		include ../../components/contacts/contacts.component.pug