//- mixin advantages
//- ex.
//- +itemsAdvantages([
        {
            "icon":"iconSpeedometer", 
            "text":"Better throttle response"
        }
    ])

//- mixin advantages
mixin itemsAdvantages(advantages)
    each advantage in advantages
        .advantagesItem 
            .advantagesItem__icon
                img(src=`assets/images/svg/${advantage.icon}.svg`, alt="")
                
            .advantagesItem__text=advantage.text


