//- mixin advantages
//- ex.
//- +itemsAdvantages([
        {
            "icon":"iconSpeedometer", 
            "text":"Better throttle response"
        }
    ])

//- mixin advantages
mixin itemsAdvantages(advantages)
    each advantage in advantages
        .advantagesItem 
            .advantagesItem__icon
                div(class=`svg-${advantage.icon} svg-${advantage.icon}-box`)
            .advantagesItem__text=advantage.text


