//-howitwork
section.howitwork
    .wrapper
        .howitworkFlexContainer
            h2.page__titel-h2 How does it 
                span.page_red work?
            .howitworkImg 
                img(src="assets/images/png/imgGraphic.png", alt="imgGraphic")
            .howitworkText 
                p Unplug the wire from the throttle at the connector. 
                p Insert the supplied wiring harness (adapter) between the throttle pedal and the original plug connection.
            