section.productSlider
    .wrapper 
        h2.page__title-h2_small easy and fast
        h3.page__title-h3 Throttle response with no delay 
        .productSliderFlexContainer 
            .productSliderGallary

            .productSliderAdvantages
                .productSliderAdvantagesItem 
                    p Better driving dynamic
                .productSliderAdvantagesItem 
                    p Five driving modes
                .productSliderAdvantagesItem 
                    p Easy to install
                .productSliderAdvantagesItem 
                    p Backup CPU
                .productSliderAdvantagesItem 
                    p No lag or delay
                .productSliderAdvantagesItem 
                    p ICE, BEV and hybrid engines
                .productSliderPrice 
                    button.page__btn ADD TO BAG
                    .productPrice__cost $299

