//-advantages
section.advantages
    .wrapper 
        .advantagesFlexContainer
            .advantagesItem 
                .advantagesItem__icon
                    .svg-iconSpeedometer.svg-iconSpeedometer-box
                .advantagesItem__text Better throttle response
            .advantagesItem 
                .advantagesItem__icon
                    .svg-iconArrowsUp.svg-iconArrowsUp-box
                .advantagesItem__text 5 stages
            .advantagesItem 
                .advantagesItem__icon
                    .svg-iconPhoneWhite.svg-iconPhoneWhite-box
                .advantagesItem__text 2nd backup CPU
            .advantagesItem 
                .advantagesItem__icon
                    .svg-iconArrowsLR.svg-iconArrowsLR-box
                .advantagesItem__text Сopatible wit ICE, BEV and hybrids