//-productRsControls
section.productRsControls
    .wrapper 
        .productRsControlsRowFlex
            .productRsControlsTitle
                h4.page__title-h4 
                    span.page_red Control your driving 
                    | dynamic on the go
            .productRsControlsImg
                img(src="assets/images/png/imgRsChip3.png", alt="imgRsChip3")
            .productRsControlsToggles
                .productRsControlsToggelsItem Sport plus
                .productRsControlsToggelsItem Sport
                .productRsControlsToggelsItem Factory
                .productRsControlsToggelsItem Eco
                .productRsControlsToggelsItem Eco plus
