<div class="formRow">
    <div class="field">
        <div class="field__label"><label> Your car *</label></div>
        <div class="field__input"><span class="wpcf7-form-control-wrap"><input class="page__input"
                    type="text"></span></div>
    </div>
    <div class="field">
        <div class="field__label"><label> Year *</label></div>
        <div class="field__input"><span class="wpcf7-form-control-wrap"><input class="page__input"
                    type="text"></span></div>
    </div>
    <div class="field">
        <div class="field__label"><label> Horsepower (hp)</label></div>
        <div class="field__input"><span class="wpcf7-form-control-wrap"><input class="page__input"
                    type="text"></span></div>
    </div>
    <div class="field">
        <div class="field__label"><label> Torque (Nm)</label></div>
        <div class="field__input"><span class="wpcf7-form-control-wrap"><input class="page__input"
                    type="text"></span></div>
    </div>
</div>
<div class="formRow">
    <div class="field">
        <div class="field__label"><label> Email*</label></div>
        <div class="field__input"><span class="wpcf7-form-control-wrap"><input class="page__input"
                    type="text"></span></div>
    </div><img src="assets/images/png/shared/imgCodeCaptcha.png" alt="imgCodeCaptcha">
    <div class="field">
        <div class="field__label"><label> Captcha*</label></div>
        <div class="field__input"><span class="wpcf7-form-control-wrap"><input class="page__input"
                    type="text"></span></div>
    </div>
</div><button class="page__btn">SUBMIT</button>