//-productRsControls
section.productRsControls
    .wrapper 
        .productRsControlsRowFlex
            .productRsControlsContainer
                .productRsControlsTitle
                    h4.page__title-h4 
                        span.page_red Control your driving 
                        | dynamic on the go
                .productRsControlsImg.productRsControlsImgGallary
                    .swiper-wrapper
                        .swiper-slide
                            img(src="assets/images/png/products/imgProductRsControls-lg.png", alt="imgProductRsControls")
                        .swiper-slide
                            img(src="assets/images/png/products/imgProductRsControls-lg.png", alt="imgProductRsControls")
                        .swiper-slide
                            img(src="assets/images/png/products/imgProductRsControls-lg.png", alt="imgProductRsControls")
                        .swiper-slide
                            img(src="assets/images/png/products/imgProductRsControls-lg.png", alt="imgProductRsControls")
                        .swiper-slide
                            img(src="assets/images/png/products/imgProductRsControls-lg.png", alt="imgProductRsControls")
                        
                   
                .productRsControlsToggles.productRsControlsImgGallary-thumbs
                    .swiper-wrapper
                        .swiper-slide.productRsControlsToggelsItem.page_bgRed Sport plus
                        .swiper-slide.productRsControlsToggelsItem.page_bgYellow Sport
                        .swiper-slide.productRsControlsToggelsItem.page_bgGray Factory
                        .swiper-slide.productRsControlsToggelsItem.page_bgBlue Eco
                        .swiper-slide.productRsControlsToggelsItem.page_bgGreen Eco plus
