extends ../../pug/templates/template

block base
	base(href="../")

block title
	title Gtr

block append style

block content
	main.page.pageGtr
		include ../../components/banner/bannerGtr.component.pug
		include ../../components/productBlocks/productGTR/accomplishments.component.pug
		include ../../components/productBlocks/productGTR/appBlock.component.pug
		include ../../components/productBlocks/productGTR/steps.component.pug
		include ../../components/productBlocks/performance.component.pug
		include ../../components/select/selectBox.component.pug
		include ../../components/productBlocks/productGTR/carSelector.component.pug
		include ../../components/productBlocks/productChip/productSliderChip.component.pug
		include ../../components/faq/faq.component.pug

block modals
	include ../../components/modals/modalsSelect.component.pug

block append style
	link(rel="stylesheet", href="libs/css/swiper-bundle.min.css", type="text/css")
      

block append script
	script(src="libs/js/swiper-bundle.min.js")
	script(src="js/productBlocks/productSlider.component.js")
	script(src="js/faq/faq.component.js")
	script(src="js/select/select.component.js")