extends ../../pug/templates/template

block base
	base(href="../")

block title
	title Rs

block append style

block content
	main.page.pageRs
		//- include ../../components/banner/bannerRs.component.pug
		include ../../components/productBlocks/productGTR/productAdvantagesGTR.component.pug
		include ../../components/productBlocks/productChip/productSliderChip.component.pug
		include ../../components/faq/faq.component.pug
block modals
	
block append style
	link(rel="stylesheet", href="libs/css/swiper-bundle.min.css", type="text/css")
      

block append script
	script(src="libs/js/swiper-bundle.min.js")
	script(src="js/productBlocks/productSlider.component.js")
	script(src="js/faq/faq.component.js")