/*banner*/
.banner
    overflow: hidden
    .page__title-h1_big
        +shift-right(-6)

.bannerFlexContainer
    +row-flex()
    align-items: center
.bannerText
    +col()
    +size-lg(3)
    position: relative
.bannerImg
    +col()
    +size-lg(9)
    +shift-right(-3)
    img
        // width: 100%
/* __debugGrid__ */
.debugGrid
    height: 100vh
    position: fixed
    width: 100%
    
    .wrapper
        height: inherit
        
    .parentFlex
        height: inherit
        +row-flex()
            
    .childFlex
        +col()
        +size(1)
        height: inherit
        outline:  1px solid #ff0
        background: rgba(0, 0, 0, 0.4)
    @include debugBtn()
/* __debugGrid__ */
/*header*/
.header
    position: sticky
    top: 0
    height: 59px
    margin-bottom: -70px

.headerFlexContainer
    +row-flex()
    align-items: center
.headerLogo
    +col()
    +size(9/2)
    +size-lg(9/2)
.headerNavLinks
    display: flex
.headerLink
    font-style: normal
    font-weight: normal
    font-size: 15px
    line-height: 59px
    color: rgba(255, 255, 255, 0.7)
    text-decoration: none
    margin: 0 10px
.headerNavCart
    // +sprite($icon-cart-png)
.child
    /*child*/
    +col()
    +size(9)
    +size-lg(9/2)
    font-size: 40px
    +xs-block
        font-size: 50px

    +sm-block
        font-size: 60px

/*some*/
/*some2*/