/* __debugGrid__ */
.debugGrid
    height: 100vh
    position: fixed
    width: 100%
    
    .wrapper
        height: inherit
        
    .parentFlex
        height: inherit
        +row-flex()
            
    .childFlex
        +col()
        +size(1)
        height: inherit
        outline:  1px solid #ff0
        background: rgba(0, 0, 0, 0.4)
    @include debugBtn()
/* __debugGrid__ */
/*banner*/
.banner
    
.bannerFlexContainer
    +row-flex()
/*header*/
.header
    
.headerFlexContainer
    +row-flex()
.headerLogo
    +col()
    +size(9/2)
    +size-lg(9/2)
.headerNav
.child
    /*child*/
    +col()
    +size(9)
    +size-lg(9/2)
    font-size: 40px
    +xs-block
        font-size: 50px

    +sm-block
        font-size: 60px

/*some*/
/*some2*/