/*banner*/
.banner
    overflow: hidden
    .page__title-h1
        margin-top: 46px
        &_big
            +shift-md-right(-9)
    .pageText
        margin-top: 31px

.bannerFlexContainer
    +row-flex()
    // align-items: center
.bannerText
    +col()
    +size(9)
    +size-md(3)
    +size-lg(2.8)
    position: relative
    padding-top: 60px
.bannerImg
    // +col()
    width: 100%
    +size-md(9)
    +size-lg(9.2)
    +shift-md-right(-3)
    img
        width: 100%
        +md-block
            width: auto
        +lg-block
            width: auto
.social
    display: flex
    margin: 47px -15px 55px
    +md-block
        position: absolute
        bottom: 85px
        margin: 0 -15px
    .icon
        margin: 0 15px

/* __debugGrid__ */
.debugGrid
    height: 100vh
    position: fixed
    width: 100%
    
    .wrapper
        height: inherit
        
    .parentFlex
        height: inherit
        +row-flex()
            
    .childFlex
        +col()
        +size(1)
        +size-md(1)
        +size-lg(1)
        height: inherit
        outline:  1px solid #ff0
        background: rgba(0, 0, 0, 0.4)
    @include debugBtn()
/* __debugGrid__ */
/*footer*/
.footer
    background: #111111
    padding-top: 44px
    h4
        +col()
        width: 100%
    hr
        +col()
        width: 100%

.footerFlexContainer
    +row-flex()

.footerLogo
    +col()
    +size(9)
    +size-md(2)
    +size-lg(2)
.footerDealer
    +col()
    +size(9)
    +size-md(2)
    +size-lg(2)
.footerContacts
    +col()
    +size(9)
    +size-md(5)
    +size-lg(5)
    display: flex
    flex-wrap: wrap

.footerContactsItem
    +col()
    +size(9)
    +size-md(4.5)
    +size-lg(4.5)
    display: flex
    align-items: center
    margin-bottom: 44px
    .icon
        margin-right: 23px
        
    &:last-child
        +size(9)
        +size-md(9)
        +size-lg(9)
.footerAdvantagesItem
    +col()
    +size(9)
    +size-md(3)
    +size-lg(3)
    &__title
        display: flex
        align-items: center
.footerLinks
    +col()
    +size(9)
    +size-md(1)
    +size-lg(1)

/*header*/
.header
    position: sticky
    top: 0
    z-index: 10
    background: #000
    // padding-top: 31px
    +md-block
        background: transparent
    +lg-block
        background: transparent
        // padding-top: 36px

.headerFlexContainer
    +row-flex()
    align-items: center
.headerLogo
    +col()
    +size(9)
    +size-sm(4.5)
    +size-md(2.8)
    +size-lg(2.8)
    text-align: center
    padding-top: 28px
    +sm-block
        text-align: left
.headerNav
    +col()
    +size(9)
    +size-sm(4.5)
    +size-md(6.2)
    +size-lg(6.2)
    display: flex
    flex-wrap: wrap
    align-items: center
    justify-content: space-between
    padding-top: 28px
    +sm-block
        justify-content: flex-end
.headerNavLinks
    margin: 0 9px
    display: none
    +md-block
        display: flex
    +lg-block
        display: flex

.headerLink
    font-family: '#{$SFUIText}-Regular'
    font-style: normal
    font-weight: normal
    font-size: 15px
    line-height: 100%
    color: rgba(255, 255, 255, 0.7)
    text-decoration: none
    margin: 0 11px
.headerNavCart
    display: flex
    align-items: center
    +sm-block
        margin-left: 4%
    &__count
        display: flex
        align-items: center
        justify-content: center
        width: 20px
        height: 20px
        border-radius: 100%
        font-size: 12px
        margin-left: 6px
        font-family: '#{$SFUIText}-Regular'
        background: linear-gradient(90deg, rgba(113, 15, 209, 0.9) -210%, rgba(255, 56, 57, 0.9) 100%)
.headerNavBtn
    +sm-block
        margin-left: 2%
    
.headerNavBurgerMenu
    width: 35px
    height: 22px
    background: #fff
    +md-block
        display: none
.child
    /*child*/
    +col()
    +size(9)
    +size-lg(9/2)
    font-size: 40px
    +xs-block
        font-size: 50px

    +sm-block
        font-size: 60px
