//-faq
section.faq
    h2.page__title-h2_small Find Answers
    h2.page__title-h3 Top questions and answers about 
        span.page_red RS
    .wrapper 
        .faqFlexContainer 
            .faqItem
                .faqItemDetails.active
                    .faqItemDetails__Summary How does RSCHIP work?
                    .faqItemDetails__Content The vehicle must be well-maintained and have OBDII diagnostic port.
                  
            .faqItem
                .faqItemDetails
                    .faqItemDetails__Summary How does RSCHIP work?
                    .faqItemDetails__Content The vehicle must be well-maintained and have OBDII diagnostic port.
                  
            
