<div class="field">
    <div class="field__label"><label> First Name *</label></div>
    <div class="field__input"><span class="wpcf7-form-control-wrap"><input class="page__input" type="text"
                placeholder="First Name"></span></div>
</div>
<div class="field">
    <div class="field__label"><label> Last Name *</label></div>
    <div class="field__input"><span class="wpcf7-form-control-wrap"><input class="page__input" type="text"
                placeholder="Last Name"></span></div>
</div>
<div class="field">
    <div class="field__label"><label> Email *</label></div>
    <div class="field__input"><span class="wpcf7-form-control-wrap"><input class="page__input" type="text"
                placeholder="Email"></span></div>
</div>
<div class="field">
    <div class="field__label"><label> Message</label></div>
    <div class="field__input"><span class="wpcf7-form-control-wrap"><textarea class="page__input" type="text" placeholder="Message"></textarea></span>
</div>
</div><button class="page__btn">send Message</button>