extends ../../pug/templates/template

block base
	base(href="../")

block title
	title Gtr

block append style

block content
	main.page
		include ../../components/banner/bannerGtr.component.pug
		include ../../components/accomplishments/accomplishments.component.pug
		include ../../components/appBlock/appBlock.component.pug
		include ../../components/steps/stepsGTR.component.pug
		include ../../components/performance/performance.component.pug
		include ../../components/carSelector/carSelector.component.pug
		include ../../components/productSlider/productSliderChip.component.pug
		include ../../components/faq/faq.component.pug
