section.appBlock
    .wrapper
        .appBlockRowFlex
            .appBlockContainer
                .appBlockText
                    h2.page__title-h2_small App
                    h3.page__title-h3 Your pocket-sized 
                        span.page_red dyno machine
                    .appBlockDescription With GTR on-board dyno you can measure your real engine horsepower and torque within 2% by performing a simple acceleration with your car.
                    .appBlockIcons 
                        .appBlockIconsItem 
                            .appBlockIcon
                                .svg-iconCompareChart.svg-iconCompareChart-box
                            div Create and compare unlimited dyno charts
                        .appBlockIconsItem 
                            .appBlockIcon
                                .svg-iconDynoChart.svg-iconDynoChart-box
                            div Transfer and share dyno charts with your PC
                .appBlockImg 
                    img(src="assets/images/png/chip/imgAppBlock.png", alt="imgAppBlock")