mixin title(props)
    .wrapper
        h2.page__title-h2.page__title-h2_big #{props.titleBig} 
            span.page__title-h2_small.page__title-h2_absolute #{props.titleAbsolute}
        h2 #{props.titleH2}