//-chat
section.chat
    .btnChat
        .iconChat.svg-iconChat.svg-iconChat-box
    .chatContainer 
        .chatBtnClose 
        h3.chatTitle 
            span.page_red Chat 
            | with us
        .chatItems
            .chatItem
                i.icon.svg-iconEmailGray.svg-iconEmailGray-box
                a(href="mailto:rschiphelp@gmail.com").email rschiphelp@gmail.com
                        
            .chatItem
                i.icon.svg-iconPhoneGray.svg-iconPhoneGray-box
                a(href="tel:+1 800 796 16 17").phone +1 800 796 16 17

            .chatItem
                i.icon.svg-iconMarkLocationGray.svg-iconMarkLocationGray-box
                address Monte Little Rock, AR USA 72114 Monday-Friday 9AM - 4PM CST 

            .chatItem
                i.icon.svg-iconChatGray.svg-iconChatGray-box
                p Online chat support 24/7
        a(href="https://www.facebook.com/rschipchiptuningusa/" target="_blank").chatBtn.page__btn.page__btn_notTransparent CHAT VIA FACEBOOK

    