//-installation
section.installation
    .wrapper 
        h2.page__title-h2 
            span.page_red Easy installation 
            | in a few steps
        .installationRowFlex  
            .installationImg
                img(src="assets/images/png/rs/imgGraphicChip.png", alt="imgGraphicChip")
            .installationText
                p Unplug the wire from the throttle at the connector. 
                p Insert the supplied wiring harness (adapter) between the throttle pedal and the original plug connection. 
                p Connect the PedalBox to the supplied wiring harness. Done! Now – go drive and enjoy!
