//-modalGallary
+modal("modalGallary")
    .sliderBtn
        button.btnSlider.prev 
            i.icon-arrow-left
        button.btnSlider.next  
            i.icon-arrow-right
    .swiper
        .swiper-wrapper
            .swiper-slide 
                img(src="assets/images/png/gallary/imgGallaryPopup1.png", alt="imgGallaryPopup")
            .swiper-slide 
                img(src="assets/images/png/gallary/imgGallaryPopup1.png", alt="imgGallaryPopup")
            .swiper-slide 
                img(src="assets/images/png/gallary/imgGallaryPopup1.png", alt="imgGallaryPopup")