//-modals
include ../form/field.mixin.pug

    
+modal("modalCarCantfind")
    h2.modalTitle Can’t find 
        span.page_red my car
    p Please fill in the fields below and we will call you back
    form(action="")
        .formRow
            +fields([
                {
                    label: "Your car *",
                    input: {
                        placeholder: "Your Car"
                    }
                },
                {
                    label: "Year *",
                    input: {
                        placeholder: "Year"
                    }
                },
                {
                    label: "Horsepower (hp)",
                    input: {
                        placeholder: "Horsepower"
                    }
                },
                {
                    label: "Torque (Nm)",
                    input: {
                        placeholder: "Torque"
                    }
                }
            ])
        .formRow
            +field({
                    label: "Email*",
                    input: {
                        placeholder: "Email"
                    }
            })
            img(src="assets/images/png/shared/imgCodeCaptcha.png", alt="imgCodeCaptcha")
            +field({
                    label: "Captcha*",
                    input: {
                        placeholder: "Captcha"
                    }
            })

        button.page__btn SUBMIT