//-modals
+modal("modalCarTahankyou")
    h2.modalTitle Thank you 
        span.page_red for your purchase!
    p Your order is beeing processed. You will recevie a notification on your email, once the package is dispatched,
    button.page__btn Ok