//-usEmail
section.usEmail
    .wrapper
        p.page__text Can't find the answer you're interested in? Email us. 
            a(href="javascript:void(0)").page_red rschiphelp@gmail.com 
            | or