//-productRs
include ./productOnPage.mixin.pug
+product({
    title: {
        span1: "Increase your",
        span2: "engine power",
        span3: "with RS CHIP"
    },
    imageName: "imgProductChip1",
    text: "Performance Tuning made easy",
    advantages: [
        "3 driving modes",
        "unlimited tunings",
        "free companion app",
        "Easy to install"
    ],
    cost: "$299"
})