//-productRs
include ./productOnPage.mixin.pug
+product({
    title: {
        span1: "Throttle",
        span2: "tuning",
        span3: "made easy"
    },
    imageName: "imgRsChip1",
    text: "Improved acceleration and sportier drive",
    advantages: [
        "5 driving modes",
        "2x CPUs system",
        "Sporty throttle response",
        "Easy to install"
    ],
    cost: "$299"
})
            