header.header
    .wrapper
        .headerFlexContainer
            .headerLogo
                a(href="/") 
                    img(src="assets/images/svg/logo.svg", alt="logo")
            .headerNav
                nav.headerNavLinks
                    a.headerLink(href="rs/rs.html") RS chip 
                    a.headerLink(href="gtr/gtr.html") GTR Chip 
                    a.headerLink(href="chip/chip.html") Chip Gas pedal
                    a.headerLink(href="javascript:void(0)") Support 
                    a.headerLink(href="contacts/contacts.html") Contact us
                a.headerNavCart(href="cart/cart.html") 
                    .icon-cart-png
                    .headerNavCart__count 3
                .headerNavBtn
                    a.page__btn(href="shop/shop.html") Shop
                .headerNavBurgerMenu
                    .line
                    .line
                    .line