include ./productSlider.mixin.pug
+productSlider({
    imageName: "imgRsChipSliderMain",
    thumbs: "imgChipSlidermin",
    advantages: [
        {
            iconName: 'iconSpeedometerGray',
            text: 'Better driving dynamic'
        },
        {
            iconName: 'iconChipGray',
            text: 'Backup CPU'
        },
        {
            iconName: 'iconRudder',
            text: 'Five driving modes'
        },
        {
            iconName: 'iconWheel',
            text: 'No lag or delay'
        },
        {
            iconName: 'iconPinion',
            text: 'Easy to install'
        },
        {
            iconName: 'iconHybrEng',
            text: 'ICE, BEV and hybrid engines'
        },
    ]
})