//-addToCart
section.addToCart.hidden
    .wrapper 
        .addToCartContainer 
            div Free shipping
            div 30 days money back
            .addToCartPrice $369
            button.page__btn.page__btn_notTransparent TO CART