section.carSelector
    .wrapper 
        .carSelectorRowFlex
            .carSelectorContainer
                .carSelectorImg 
                    img(src="assets/images/png/chip/imgCarSelectors.png", alt="imgCarSelectors")
                .carSelectorIcons
                    .carSelectorIconsItem 
                        .carSelectorIconsItem__Icon 
                            .iconUnlimitGray
                        .carSelectorIconsItem__Text Unlimited use. Buy once use on any out of over 8000 supported cars
                    
                    .carSelectorIconsItem 
                        .carSelectorIconsItem__Icon 
                            .svg-iconCloud.svg-iconCloud-box
                        .carSelectorIconsItem__Text Lifetime updates and new features gauranteed 
                    
                    .carSelectorIconsItem 
                        .carSelectorIconsItem__Icon 
                            .svg-iconCar.svg-iconCar-box
                        .carSelectorIconsItem__Text Unrestricted access to all tuning database 
                    
                    button.page__btn DOWNLOAD GTR PROGRAMMER NOW
                    .carSelectorTextAfter Requirements: Windows 10
