extends ../../pug/templates/template

block base
	base(href="../")

block title
	title Title Pages

block append style

block content
	main.page
		section.banner
		.wrapper
			h1.page__title-h1 Page 2
			a(href="../").page__text index

block modals
	
block append style

block append script
