//-products
include ./products.mixin.pug

section.products 
    h2.page__title-h2.page__title-h2_big shop 
        span.page__title-h2_small.page__title-h2_absolute Product
    .wrapper
        .productsFlexContainer
            +item([
                {   
                    "sku" : "default",
                    "title":"Performance Tuning",
                    "textBefore":"Engine tuning on your smartphone with free IOS/Android apps",
                    "imgSrc":"assets/images/png/products/product1.png",
                    "productsItemGains": [
                        {"number": "+20%", "text": "Power", "class": "hp"}, 
                        {"number": "+20%", "text": "Torque", "class": "nm"}
                    ],
                    "textAfter":"Comaptibility : ICE and hybrids engines",
                    "textBtn":"USD 249"
                },
                {
                    "sku": "default",
                    "title":"Gas Pedal Tuning",
                    "textBefore":"Improve your acceleration, and customize your driving dynamic",
                    "imgSrc":"assets/images/png/products/product2.png",
                    "productsItemGains": [
                        {"number": "+10%", "text": "Faster Acceleration", "class": "hp"}
                    ],
                    "textAfter":"Comaptibility : ICE and hybrids engines",
                    "textBtn":"USD 249"
                }
            ])
