section.productRsSafest
    .wrapper
        .productRsSafestRowFlex 
            .productRsSafestImg 
                picture 
                    source(type="image/png" srcset="assets/images/png/rs/imgProductRsSafest-lg.png" media="(min-width: 992px)")
                    source( type="image/png" srcset="assets/images/png/rs/imgProductRsSafest-md.png" media="(min-width: 768px)")
                    img(src="assets/images/png/rs/imgProductRsSafest-xs.png", alt="imgProductRsControls")

            .productRsSafestText
                h4.page__title-h4 The safest throttle tuning  
                    span.page_red  in the market
                p.page__text The most important feature for your safety. Our engineers have developed an ingenious control mechanism, the logic of which ensures mutual control of both processors. This reduces the risk of default by 1.000 times.
                .productRsSafestIcons 
                    .productRsSafestIconsItem
                        .svg-iconChipWhite.svg-iconChipWhite-box
                        .productRsSafestIconsText Buck up CPU
                    .productRsSafestIconsItem
                        .svg-iconPatent.svg-iconPatent-box
                        .productRsSafestIconsText Patented system