//-selectBox


.selectBox 
    .selectBoxText Find out how many Horsepowers you can add to your Car
    .selectBoxContainer
        include ./select.component.pug
        .selectBoxSearch
            //- .svg-iconSearch.svg-iconSearch-box
            button.page__btn To cart
                
    a.selectBoxLink.js-open-modal(href="javascript:void(0)" data-modal="modalCarCantfind") Can’t find my Car
