//-select render with js 

.select.Brands
    .select-box 
        .select-box__icon
            .svg-iconArrowSelect.svg-iconArrowSelect-box
        .select-box__empty 
            .svg-iconSelectEmpty.svg-iconSelectEmpty-box
.select.Models
    .select-box 
        .select-box__icon
            .svg-iconArrowSelect.svg-iconArrowSelect-box
.select.Modification
    .select-box 
        .select-box__icon
            .svg-iconArrowSelect.svg-iconArrowSelect-box