//-select
section.selectBox 
    .selectBoxText Find out how many Horsepowers you can add to your Car
    .selectBoxContainer
        select(name="select1") 
            option(value="Mercedes") 
        .selectBoxSearch 
    .selectBoxText Can’t find my Car

