//-select
.selectBox 
    .selectBoxText Find out how many Horsepowers you can add to your Car
    .selectBoxContainer
        .select Mercedes
        .select Model
        .select Modification
        .selectBoxSearch
            .svg-iconSearch.svg-iconSearch-box
    a.selectBoxLink Can’t find my Car

