section.performance
    .wrapper 
        h2.page__title-h2_small Сomparison
        h3.page__title-h3 Performance figures
        .performanceTable 
            .performanceTable__Header
                .performanceTableItemTd State
                .performanceTableItemTd Power
                .performanceTableItemTd Torque
                .performanceTableItemTd 0-60 mph
            .performanceTable__Body
                .performanceTableItem 
                    .performanceTableItemTd 
                        div.stock Stock
                        div.carName Porsche 911 Carrera
                    .performanceTableItemTd 
                        div 385 HP
                    .performanceTableItemTd 
                        div 450 NM
                    .performanceTableItemTd 
                        div 4.2 sec
                .performanceTableItem.withRs
                    .performanceTableItemTd 
                        div.stock With RS
                        div.carName Porsche 911 Carrera
                    .performanceTableItemTd 
                        div 410* HP
                    .performanceTableItemTd 
                        div 475* NM
                    .performanceTableItemTd 
                        div -0.39* sec
        .performanceImg
            img(src="assets/images/png/shared/imgPerformance.png", alt="imgPerformance")
    include ../select/selectBox.mixin.pug
    +selectBox('Gtr')