include ./banner.mixin.pug
+banner({
    bannerClass: "bannerRs",
    title: {
        big: "RSCHIP",
        span1: "More power",
        span2: "Better acceleration"
    },
    description: "Better acceleration and sportier thotlle response for your Car",
    imageName: "rs/imgBannerRsBg",
    imageChipName: "rs/imgBannerRsChip",
    advantages: [
                    {
                        "icon":"iconSpeedometer", 
                        "text":"Better throttle response"
                    }, 
                    {
                        "icon":"iconArrowsUp", 
                        "text": "5 stages"
                    },
                    {
                        "icon":"iconPhoneWhite", 
                        "text": "2nd backup CPU"
                    },
                    {
                        "icon":"iconArrowsLR", 
                        "text": "Сopatible wit ICE, BEV and hybrids"
                    },
                ],
    selectName: 'Rs'
})