include ./banner.mixin.pug
+banner({
    title: {
        big: "POWER",
        span1: "More power",
        span2: "for",
        span3: "your car with RSCHIP"
    },
    description: "Increase power, save fuel, create dyno charts, Measure acceleration and more",
    imageName: "main/imgBannerBg"
})


        