include ./banner.mixin.pug
+banner({
    bannerClass: "bannerMain",
    title: {
        big: "POWER",
        span1: "More power",
        span2: "for",
        span3: "your car with RSCHIP"
    },
    description: "Better throttle response, improved driving dynamic, Dual processor safety mechanism and more",
    imageName: "main/imgBannerBg",
    imageChipMain: "main/imgBannerImgChipMain",
})


        