include ./banner.mixin.pug
+banner({
    bannerClass: "bannerChip",
    title: {
        big: "RSCHIP",
        span1: "Introducing",
        span3: "RS CHIP"
    },
    description: "Unleash your engine hidden potential with RSCHIP plug & Play performance Tuner",
    imageName: "chip/imgBannerChipBg",
    imageChipName: "chip/imgBannerRsChip",
    advantages: [
                    {
                        "icon":"iconSpeedometer", 
                        "text":"More power and torque"
                    }, 
                    {
                        "icon":"iconPhoneWhite", 
                        "text": "App controllable"
                    },
                    {
                        "icon":"iconArrowsLR", 
                        "text": "Сopatible wit ICE, BEV and hybrids"
                    },
                ],
    selectName: 'Chip'
})

