include ./banner.mixin.pug
+banner({
    bannerClass: "bannerGtr",
    title: {
        big: "GTR chip",
        span1: "Make your car",
        span3: "stand out"
    },
    description: "Performance tuning, on-board diagnostics, Acceleration and power meter, all in one device",
    imageName: "gtr/imgBannerGtrBg",
    imageChipName: "gtr/imgBannerGtrChip",
    advantages: [
                    {
                        "icon":"iconPower", 
                        "text":"More power and torque"
                    }, 
                    {
                        "icon":"iconFuel", 
                        "text": "Better fuel economy"
                    },
                    {
                        "icon":"iconErrors", 
                        "text": "Error code reader"
                    },
                    {
                        "icon":"iconSpeedometrLight", 
                        "text": "Performance meter"
                    },
                ],
    selectName: 'Gtr'
})