mixin picture(imgNameDefault, imgNameSource, altName, media)
    source(type="image/webp" srcset="assets/images/webp/png/"+imgNameSource+".webp"  media="(min-width: "+media+"px)")
    source(type="image/webp" srcset="assets/images/webp/jpg/"+imgNameSource+".webp" media="(min-width: "+media+"px)")
    source(type="image/jpeg" srcset="assets/images/jpg/"+imgNameSource+".jpg" media="(min-width: "+media+"px)")
    source( type="image/png" srcset="assets/images/png/"+imgNameSource+".png" media="(min-width: "+media+"px)")
    img(src="assets/images/png/"+imgNameDefault+".png", alt=altName)

mixin text()
    div ss