//-cartDetails
.cartDetails
    .cartDetailsTitle Price Details
    .cartDetailsBagTotal 
        div.name Bag Total
        div.price 597 $ 
    .cartDetailsDiscount 
        div.name Coupon Discount
        div.price 0 $ 
    .cartDetailsTotal 
        div.name Total: 
        div.price 597 $
    .cartDetailsSafty 
        p We accept
        img(src="assets/images/png/shared/imgPaymentsSafty.png", alt="imgPaymentsSafty")
    a.page__btn.page__btn_notTransparent(href="order/order.html") PROCEED TO PAYMENT
