extends ../pug/templates/template
block append style
block content
	main.page.mainPage
		include ../components/banner/banner.component.pug
		include ../components/products/products.component.pug
		include ../components/faq/faq.component.pug
		include ../components/news/news.component.pug
		include ../components/social/social.component.pug
		include ../components/gallary/gallary.component.pug
block modals
	include ../components/modals/modalsMainPage.component.pug
	
block append style
	link(rel="stylesheet", href="libs/css/swiper-bundle.min.css", type="text/css")
            
	
block append script
	script(src="libs/js/swiper-bundle.min.js")
	script(src="/js/faq/faq.component.js")
	script(src="/js/modals/modalGallary.component.js")