extends ../../pug/templates/template

block base
	base(href="../")

block title
	title Rs

block append style

block content
	main.page.pageRs
		include ../../components/banner/bannerRs.component.pug
		include ../../components/productBlocks/productRs/productRs.component.pug
		include ../../components/productBlocks/productRs/productRsControls.component.pug
		include ../../components/productBlocks/productRs/productRsSafest.component.pug
		include ../../components/productBlocks/productRs/howitwork.component.pug
		include ../../components/productBlocks/productRs/installation.component.pug
		include ../../components/productBlocks/productRs/productSliderRs.component.pug
		include ../../components/faq/faq.component.pug
block modals
	include ../../components/modals/modalsSelect.component.pug
	
block append style
	link(rel="stylesheet", href="libs/css/swiper-bundle.min.css", type="text/css")
      

block append script
	script(src="libs/js/swiper-bundle.min.js")
	script(src="js/productBlocks/productSlider.component.js")
	script(src="js/faq/faq.component.js")
	script(src="js/select/select.component.js")