extends ../../pug/templates/template

block base
	base(href="../")

block title
	title Rs

block append style

block content
	main.page
		include ../../components/banner/bannerRs.component.pug
		include ../../components/productOnPage/productOnPageRs.component.pug
		include ../../components/productRsControls/productRsControls.component.pug
		include ../../components/productRsSafest/productRsSafest.component.pug
		include ../../components/howitwork/howitworkRs.component.pug
		include ../../components/installation/installation.component.pug
		include ../../components/productSlider/productSliderRs.component.pug
		include ../../components/faq/faq.component.pug