.woocommerce-Price-amount amount {

  font-size: 40px;

}

.price {

    font-weight: bold;

    font-size: 48px; 

    margin-bottom: 5px;

}

/*.woocommerce-Price-currencySymbol {

  font-size: 25px;

}*/



.cart-list__item-col span.woocommerce-Price-amount.amount {

    font-size: 16px;

    font-weight: normal;

}







.product_title {

    padding: 0px;

    margin: 0px;

    font-size: 48px;

}



.woocommerce-breadcrumb {

  display: none;

}



.update_cart {

    margin: -30px 10px 10px 10px;

    float: right;

}







.cart_item {  

    background: #fbfbfb;

}



.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {

    background: none;

    color: #fff;

    -webkit-font-smoothing: antialiased;

}





.woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover {

    background-color: rgba(255, 255, 255, 0);

    color: #fff;

}





.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button {

    font-size: 100%;

    margin: 0;

    line-height: 1;

    cursor: pointer;

    position: relative;

    text-decoration: none;

    overflow: visible;

    padding: 1px;

    font-weight: 700;

    border-radius: 3px;

    left: auto;

    color: #515151;

    background-color: #ebe9eb;

    border: 0; 

    white-space: nowrap;

    display: inline-block;

    background-image: none;

    box-shadow: none;

    -webkit-box-shadow: none;

    text-shadow: none;

}

.woocommerce-checkout #payment ul.payment_methods li img{

  opacity: 0;

  visibility: hidden;

}








.shipping_address {

    margin-top: 70px;

}



td.actions.cart-promo {

  text-align: start !important;

}

td.actions.cart-promo .coupon {

  float: right !important;

}



td.actions.cart-promo .coupon .cart-promo__btn {

      background: url(data:image/jpeg;base64,/9j/4QAYRXhpZgAASUkqAAgAAAAAAAAAAAAAAP/sABFEdWNreQAB…oADAMBAAIRAxEAPwDVWIyXnxRfRxyLHeo9xB2LCaAaBb/W8DM0ZvAO36aHVhCaSg5NmH//2Q==);

    background-image: -webkit-linear-gradient(90deg, #0a85cf 0%, #5ca8e4 100%);

    background-image: -ms-linear-gradient(90deg, #0a85cf 0%, #5ca8e4 100%);

    color: white;

    text-transform: uppercase;

        font-weight: normal;

    padding: 8px 80px 8px 35px;

    text-transform: uppercase;

}



.woocommerce table.shop_table.cart td {

  display: block;

}



.woocommerce table.shop_table {

  position: relative;

}

.woocommerce .quantity .counter__input{

  width: 30px;

}



/*.product-thumbnail.cart-list__item-col {

  width: 20%;

  float: left;

}

.product_content.cart-list__item-col {

  width: 40%;

  float: left;

}

.product-price.cart-list__item-col {

  width: 10%;

  float: left;

}

.product-quantity.cart-list__item-col {

  width: 20%;

  float: left;

}*/

/*td.product-quantity.cart-list__item-col {

    padding: 14px 12px !Important;

}*/

table.cart {

  font-size: 14px;

  border: none;

}

.cart-list__item-info {

    text-align: left;

}

td.product-remove {

   float: right;

   position: relative;

}

.separator {

  height: 20px;

}

/*.shop_table.shop_table_responsive.cart *{

  border: none;

}*/

.woocommerce table.shop_table {

  border: none;

}

.cart-list__item {



    border: 1px solid #ebebeb !important;

    background: #fbfbfb !important;

}

a.btn.btn-link.btn-md.cart__back-btn {

/*    position: absolute;*/

    left: 0;

}

.cart__inner {

    /*padding: 0 70px;*/

    position: relative;

}



.cart__result.cart_totals {

  width: 100% !important;

}

.cart__result tr.order-total td {

    border-top: 1px solid grey !important;

}

/*.cart__result.cart_totals table td {

  border-top: none;

}*/



table.shop_table.cart td:nth-child(2) {

  padding-top: 20px;

}

table.shop_table.cart td {

  padding: 0 20px;

}



.product-thumbnail.cart-list__item-col, .product_content.cart-list__item-col {

    margin-bottom: 20px;

}

.cart-promo__input {

  width: 100%;

}



.woocommerce-message {

  display: none;

}





#s2id_shipping_custom_country {

  border:   none !important ;

  padding:  0px;

}

#cart_cart_field {

  display: none;

}



/*admin panel fixes*/

.customize-support .side-widget_pos_fixed,

.customize-support .header{

  margin-top: 32px;

}

@media screen and (max-width: 991px){

  .customize-support .main-nav,

  .customize-support .cart__header{

    margin-top: 32px;

  }

}

@media screen and (max-width: 782px){

  .customize-support .main-nav,

  .customize-support .header ,

  .customize-support .cart__header{

    margin-top: 46px !important;

  }

}

@media screen and (max-width: 600px){

  #wpadminbar {

    position: fixed;

  }

}

/*.admin panel fixes*/



/*page when cart is empty*/

.cart-empty{

  margin-top: 30%;

}

.return-to-shop{}

/*.page when cart is empty*/

.remodal span.wpcf7-quiz-label {
    margin-left: 10px !important;
    font-size: 1rem !important;
    width: 80px !important;
    display: block !important;
    float: left !important;
}
.remodal input.wpcf7-form-control.wpcf7-quiz {
    margin-left: 70px !important;    
    width: 61% !important;
    height: 35px !important;
    border: 1px solid #ebebeb !important;
}