//-productRs
section.product.productChip
    .wrapper
        h2.page__title-h2_small More Power
        h3.page__title-h3 Increase your 
            span.page_red engine power 
            | with RS CHIP
        .productFlexContainer 
            .productImg
                picture 
                    source(type="image/png" srcset="assets/images/png/imgProductChip1-lg.png" media="(min-width: 992px)")
                    source( type="image/png" srcset="assets/images/png/imgProductChip1-sm.png" media="(min-width: 768px)")
                    img(src="assets/images/png/imgProductChip1-xs.png", alt="imgRsChip")
            .productText
                h4.page__title-h4 Performance Tuning made easy
                ul.page__ul 
                    li.page__li 
                        i.svg-iconMarker.svg-iconMarker-box
                        | 3 driving modes
                    li.page__li 
                        i.svg-iconMarker.svg-iconMarker-box
                        | unlimited tunings
                    li.page__li 
                        i.svg-iconMarker.svg-iconMarker-box
                        | free companion app
                    li.page__li 
                        i.svg-iconMarker.svg-iconMarker-box
                        | Easy to install
                .productPrice 
                    button.page__btn SHOP NOW

            