//-advantages
include ../productAdvantages.mixin.pug

section.advantages
    .wrapper 
        .advantagesFlexContainer
            +itemsAdvantages([
                {
                    "icon":"iconSpeedometer", 
                    "text":"More power and torque"
                }, 
                {
                    "icon":"iconPhoneWhite", 
                    "text": "App controllable"
                },
                {
                    "icon":"iconArrowsLR", 
                    "text": "Сopatible wit ICE, BEV and hybrids"
                },
            ])