extends ../../pug/templates/template

block base
	base(href="../")

block title
	title Cart

block append style

block content
	main.page
		.wrapper
			.pageCartTitle
				h2.page__title-h2.page__title-h2_big ORDERS 
					span.page__title-h2_small.page__title-h2_absolute Shopping
				h3 Shipping Information 
			.cartTable
				include ../../components/cartForm/cartForm.component.pug
				include ../../components/cartDetails/cartDetails.component.pug