header.header
    .wrapper
        .headerFlexContainer
            .headerLogo
                a(href="/") 
                    img(src="assets/images/svg/logoWhite.svg", alt="logo")
            .headerNav
                nav.headerNavLinks
                    a.headerLink(href="rs/rs.html") RS chip 
                    a.headerLink(href="javascript:void(0)") GTR Chip 
                    a.headerLink(href="chip/chip.html") Gas pedal 
                    a.headerLink(href="javascript:void(0)") Tuning 
                    a.headerLink(href="javascript:void(0)") Support 
                    a.headerLink(href="contacts/contacts.html") Contact us
                    a.headerLink(href="faq/faq.html") faq
                .headerNavCart
                    .icon-cart-png
                    .headerNavCart__count 3
                .headerNavBtn
                    a.page__btn(href="javascript:void(0)") Shop
                .headerNavBurgerMenu
                    .line
                    .line
                    .line