header.header
    .wrapper
        .headerFlexContainer
            .headerLogo
                img(src="assets/images/png/logo.png", alt="logo")
            .headerNav
                //- .child Header
                nav.headerNavLinks
                    a.headerLink(href="javascript:void(0)") RS chip 
                    a.headerLink(href="javascript:void(0)") GTR Chip 
                    a.headerLink(href="javascript:void(0)") Gas pedal 
                    a.headerLink(href="javascript:void(0)") Tuning 
                    a.headerLink(href="javascript:void(0)") Support 
                    a.headerLink(href="javascript:void(0)") Contact us
                .headerNavCart
                    .icon-cart-png
                    .headerNavCart__count 3
                .headerNavBtn
                    a.page__btn(href="javascript:void(0)") Shop
                .headerNavMobileMenu