header.header
    .wrapper
        .headerFlexContainer
            .headerLogo
                img(src="assets/images/png/logo.png", alt="logo")
            .headerNav
                //- .child Header
                nav.headerNavLinks
                    a(href="javascript:void(0)") RS chip 
                    a(href="javascript:void(0)") GTR Chip 
                    a(href="javascript:void(0)") Gas pedal 
                    a(href="javascript:void(0)") Tuning 
                    a(href="javascript:void(0)") Support 
                    a(href="javascript:void(0)") Contact us
                .headerNavCart
                .headerNavBtn
                .headerNavMobileMenu