//-cartForm

.cartForm
    .cartFormTitle Contact information
    .cartFormRow
        input.page__input(type="email" placeholder="Enter your email")
    .cartFormTitle Shipping Address
    .cartFormRow
        input.page__input.name(type="text" placeholder="First Name")
        input.page__input.name(type="text" placeholder="Last Name")
    .cartFormRow
        input.page__input.address(type="text" placeholder="Your Street Address")
    .cartFormRow
        input.page__input.city(type="text" placeholder="Your City and the State")
    .cartFormRow
        input.page__input.country(type="text" placeholder="Your Country")
        input.page__input.code(type="text" placeholder="Your Zip Code")
    .cartFormRow
        input.page__input.phone(type="text" placeholder="Your Phone Number")
        input.page__input.year(type="text" placeholder="Vehicle manufacturing Year")