footer.footer
    .wrapper 
        .footerFlexContainer
            .footerLogo
                img(src="assets/images/png/logo.png", alt="logo")
            .footerDealer
                a.page__btn(href="javascript:void(0)") Become a dealer
            .footerContacts 
                .footerContactsItem
                    i.icon.icon-phone-png
                    a(href="tel:+1 800 796 16 17") +1 800 796 16 17
                .footerContactsItem
                    i.icon.icon-mail-png 
                    a(href="mailto:rschiphelp@gmail.com") rschiphelp@gmail.com
                .footerContactsItem
                    i.icon.icon-location-png 
                    address 1201 East 5th Street North Little Rock, Arkansas USA, 72114
        .footerFlexContainer
            .footerAdvantagesItem
                .footerAdvantagesItem__title
                    i.icon.icon-lifetime-png
                    h5 Lifetime warranty
                p.page__text We are confident in longevity and reliability of our products, and happy to provide you with best possible terms and guarantees!
                a(href="javascript:void(0)") Read more 
            .footerAdvantagesItem
                .footerAdvantagesItem__title
                    i.icon.icon-return-png
                    h5 30 days return policy
                p.page__text Not convinced after the 30 days? Just send the produt back No questions asked.
                a(href="javascript:void(0)") Read more 
            .footerAdvantagesItem
                .footerAdvantagesItem__title
                    i.icon.icon-free-png
                    h5 Free shipping worldwide
                p.page__text Free shipping worldwide to any location with DHL express and USPS.
                a(href="javascript:void(0)") Read more 

        .footerFlexContainer
            h4 Tuning 
            hr
            .footerLinks
                a(href="javascript:void(0)") Acura 
            .footerLinks
                a(href="javascript:void(0)") Alfa 
            .footerLinks
                a(href="javascript:void(0)") Romeo 
            .footerLinks
                a(href="javascript:void(0)") Alpina
            .footerLinks 
                a(href="javascript:void(0)") Aston 
            .footerLinks
                a(href="javascript:void(0)") Martin 
            .footerLinks
                a(href="javascript:void(0)") Audi 
            .footerLinks
                a(href="javascript:void(0)") Baojun 
            .footerLinks
                a(href="javascript:void(0)") Beiben 
                a(href="javascript:void(0)") Beijing 
                a(href="javascript:void(0)") Bentley 
                a(href="javascript:void(0)") BMW 
                a(href="javascript:void(0)") Borgward 
                a(href="javascript:void(0)") Buick 
                a(href="javascript:void(0)") BYD