%svg-common {
	background: url("../assets/icons/svg/spriteSVG.svg") no-repeat;
}

.svg-iconArrowSelect {
	@extend %svg-common;
	background-position: 52.359550561797754% 38.62068965517241%;
}

.svg-iconArrowSelect-box {
	width: 27px;
	height: 25px;
}

.svg-iconArrowSuccess {
	@extend %svg-common;
	background-position: 35.944700460829495% 87.26415094339623%;
}

.svg-iconArrowSuccess-box {
	width: 38px;
	height: 36px;
}

.svg-iconArrowsLR {
	@extend %svg-common;
	background-position: 72.88135593220339% 39.51219512195122%;
}

.svg-iconArrowsLR-box {
	width: 59px;
	height: 50px;
}

.svg-iconArrowsUp {
	@extend %svg-common;
	background-position: 86.49289099526067% 64.16464891041163%;
}

.svg-iconArrowsUp-box {
	width: 50px;
	height: 47px;
}

.svg-iconCPU {
	@extend %svg-common;
	background-position: 12.98076923076923% 77.47524752475248%;
}

.svg-iconCPU-box {
	width: 56px;
	height: 56px;
}

.svg-iconCar {
	@extend %svg-common;
	background-position: 57.389162561576356% 12.592592592592593%;
}

.svg-iconCar-box {
	width: 66px;
	height: 55px;
}

.svg-iconCart {
	@extend %svg-common;
	background-position: 41.411764705882355% 47.94188861985472%;
}

.svg-iconCart-box {
	width: 47px;
	height: 47px;
}

.svg-iconChat {
	@extend %svg-common;
	background-position: 52.857142857142854% 76.7156862745098%;
}

.svg-iconChat-box {
	width: 52px;
	height: 52px;
}

.svg-iconChatGray {
	@extend %svg-common;
	background-position: 99.28400954653938% 53.80835380835381%;
}

.svg-iconChatGray-box {
	width: 53px;
	height: 53px;
}

.svg-iconChip {
	@extend %svg-common;
	background-position: 21.64179104477612% 15.099009900990099%;
}

.svg-iconChip-box {
	width: 70px;
	height: 56px;
}

.svg-iconChipGray {
	@extend %svg-common;
	background-position: 99.28400954653938% 66.83046683046683%;
}

.svg-iconChipGray-box {
	width: 53px;
	height: 53px;
}

.svg-iconChipWhite {
	@extend %svg-common;
	background-position: 0 63.34164588528678%;
}

.svg-iconChipWhite-box {
	width: 59px;
	height: 59px;
}

.svg-iconCloud {
	@extend %svg-common;
	background-position: 57.389162561576356% 26.633165829145728%;
}

.svg-iconCloud-box {
	width: 66px;
	height: 62px;
}

.svg-iconCompareChart {
	@extend %svg-common;
	background-position: 26.442307692307693% 77.0935960591133%;
}

.svg-iconCompareChart-box {
	width: 56px;
	height: 54px;
}

.svg-iconDesktop {
	@extend %svg-common;
	background-position: 73.77450980392157% 0;
}

.svg-iconDesktop-box {
	width: 64px;
	height: 59px;
}

.svg-iconDynoChart {
	@extend %svg-common;
	background-position: 39.90384615384615% 76.7156862745098%;
}

.svg-iconDynoChart-box {
	width: 56px;
	height: 52px;
}

.svg-iconEmailGray {
	@extend %svg-common;
	background-position: 70.32710280373831% 50.118203309692674%;
}

.svg-iconEmailGray-box {
	width: 44px;
	height: 37px;
}

.svg-iconEmailGray2 {
	@extend %svg-common;
	background-position: 53.317535545023695% 61.951219512195124%;
}

.svg-iconEmailGray2-box {
	width: 50px;
	height: 50px;
}

.svg-iconEmalPurple {
	@extend %svg-common;
	background-position: 28.19277108433735% 62.10268948655257%;
}

.svg-iconEmalPurple-box {
	width: 57px;
	height: 51px;
}

.svg-iconErrors {
	@extend %svg-common;
	background-position: 0 49.00990099009901%;
}

.svg-iconErrors-box {
	width: 66px;
	height: 56px;
}

.svg-iconFacebookGray {
	@extend %svg-common;
	background-position: 8.597285067873303% 99.76359338061465%;
}

.svg-iconFacebookGray-box {
	width: 30px;
	height: 37px;
}

.svg-iconFacebookWhite {
	@extend %svg-common;
	background-position: 85.26077097505669% 74.34679334916865%;
}

.svg-iconFacebookWhite-box {
	width: 31px;
	height: 39px;
}

.svg-iconFreeShipping {
	@extend %svg-common;
	background-position: 73.05825242718447% 14.425427872860636%;
}

.svg-iconFreeShipping-box {
	width: 60px;
	height: 51px;
}

.svg-iconFuel {
	@extend %svg-common;
	background-position: 86.69833729216153% 0;
}

.svg-iconFuel-box {
	width: 51px;
	height: 57px;
}

.svg-iconFuelGray {
	@extend %svg-common;
	background-position: 86.49289099526067% 13.970588235294118%;
}

.svg-iconFuelGray-box {
	width: 50px;
	height: 52px;
}

.svg-iconGTR {
	@extend %svg-common;
	background-position: 0 14.786967418546366%;
}

.svg-iconGTR-box {
	width: 84px;
	height: 61px;
}

.svg-iconGTRWhite {
	@extend %svg-common;
	background-position: 22.422680412371133% 0;
}

.svg-iconGTRWhite-box {
	width: 84px;
	height: 61px;
}

.svg-iconHybrEng {
	@extend %svg-common;
	background-position: 16.216216216216218% 48.175182481751825%;
}

.svg-iconHybrEng-box {
	width: 65px;
	height: 49px;
}

.svg-iconInstagramGray {
	@extend %svg-common;
	background-position: 0 100%;
}

.svg-iconInstagramGray-box {
	width: 38px;
	height: 38px;
}

.svg-iconInstagramWhite {
	@extend %svg-common;
	background-position: 73.14814814814815% 60.476190476190474%;
}

.svg-iconInstagramWhite-box {
	width: 40px;
	height: 40px;
}

.svg-iconKeyboard {
	@extend %svg-common;
	background-position: 57.67326732673267% 0;
}

.svg-iconKeyboard-box {
	width: 68px;
	height: 51px;
}

.svg-iconMarkLocationGray {
	@extend %svg-common;
	background-position: 31.01851851851852% 28.91566265060241%;
}

.svg-iconMarkLocationGray-box {
	width: 40px;
	height: 45px;
}

.svg-iconMarkLocationGray2 {
	@extend %svg-common;
	background-position: 85.88235294117646% 26.715686274509803%;
}

.svg-iconMarkLocationGray2-box {
	width: 47px;
	height: 52px;
}

.svg-iconMarkLocationPurple {
	@extend %svg-common;
	background-position: 98.11320754716981% 13.82716049382716%;
}

.svg-iconMarkLocationPurple-box {
	width: 48px;
	height: 55px;
}

.svg-iconMarkMapPurple {
	@extend %svg-common;
	background-position: 0 31.413612565445025%;
}

.svg-iconMarkMapPurple-box {
	width: 64px;
	height: 78px;
}

.svg-iconMarker {
	@extend %svg-common;
	background-position: 98.3451536643026% 77.56563245823389%;
}

.svg-iconMarker-box {
	width: 49px;
	height: 41px;
}

.svg-iconPatent {
	@extend %svg-common;
	background-position: 0 77.66749379652606%;
}

.svg-iconPatent-box {
	width: 54px;
	height: 57px;
}

.svg-iconPhoneGray {
	@extend %svg-common;
	background-position: 40% 28.91566265060241%;
}

.svg-iconPhoneGray-box {
	width: 37px;
	height: 45px;
}

.svg-iconPhoneGray2 {
	@extend %svg-common;
	background-position: 84.68677494199535% 39.46078431372549%;
}

.svg-iconPhoneGray2-box {
	width: 41px;
	height: 52px;
}

.svg-iconPhonePurple {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-iconPhonePurple-box {
	width: 56px;
	height: 56px;
}

.svg-iconPhoneWhite {
	@extend %svg-common;
	background-position: 84.68677494199535% 52.205882352941174%;
}

.svg-iconPhoneWhite-box {
	width: 41px;
	height: 52px;
}

.svg-iconPinion {
	@extend %svg-common;
	background-position: 99.52153110047847% 27.339901477832512%;
}

.svg-iconPinion-box {
	width: 54px;
	height: 54px;
}

.svg-iconPower {
	@extend %svg-common;
	background-position: 99.52153110047847% 40.64039408866995%;
}

.svg-iconPower-box {
	width: 54px;
	height: 54px;
}

.svg-iconRS {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-iconRS-box {
	width: 87px;
	height: 59px;
}

.svg-iconRSResponse {
	@extend %svg-common;
	background-position: 41.707317073170735% 0;
}

.svg-iconRSResponse-box {
	width: 62px;
	height: 81px;
}

.svg-iconReturnCircle {
	@extend %svg-common;
	background-position: 65.23809523809524% 76.7156862745098%;
}

.svg-iconReturnCircle-box {
	width: 52px;
	height: 52px;
}

.svg-iconRudder {
	@extend %svg-common;
	background-position: 41.33016627078385% 61.951219512195124%;
}

.svg-iconRudder-box {
	width: 51px;
	height: 50px;
}

.svg-iconSearch {
	@extend %svg-common;
	background-position: 63.80510440835267% 60.62052505966587%;
}

.svg-iconSearch-box {
	width: 41px;
	height: 41px;
}

.svg-iconShield {
	@extend %svg-common;
	background-position: 77.25118483412322% 76.7156862745098%;
}

.svg-iconShield-box {
	width: 50px;
	height: 52px;
}

.svg-iconSpeed {
	@extend %svg-common;
	background-position: 0 90.68627450980392%;
}

.svg-iconSpeed-box {
	width: 52px;
	height: 52px;
}

.svg-iconSpeedometer {
	@extend %svg-common;
	background-position: 12.380952380952381% 90.68627450980392%;
}

.svg-iconSpeedometer-box {
	width: 52px;
	height: 52px;
}

.svg-iconSpeedometerGray {
	@extend %svg-common;
	background-position: 24.761904761904763% 90.68627450980392%;
}

.svg-iconSpeedometerGray-box {
	width: 52px;
	height: 52px;
}

.svg-iconSpeedometrLight {
	@extend %svg-common;
	background-position: 73.05825242718447% 26.96078431372549%;
}

.svg-iconSpeedometrLight-box {
	width: 60px;
	height: 52px;
}

.svg-iconSuccess {
	@extend %svg-common;
	background-position: 44.70046082949309% 87.26415094339623%;
}

.svg-iconSuccess-box {
	width: 38px;
	height: 36px;
}

.svg-iconTrash {
	@extend %svg-common;
	background-position: 30.679156908665107% 48.175182481751825%;
}

.svg-iconTrash-box {
	width: 45px;
	height: 49px;
}

.svg-iconUnlimit {
	@extend %svg-common;
	background-position: 15.92039800995025% 28.91566265060241%;
}

.svg-iconUnlimit-box {
	width: 70px;
	height: 45px;
}

.svg-iconWheel {
	@extend %svg-common;
	background-position: 14.251207729468598% 62.254901960784316%;
}

.svg-iconWheel-box {
	width: 58px;
	height: 52px;
}

.svg-iconYoutubeGray {
	@extend %svg-common;
	background-position: 51.86046511627907% 46.698113207547166%;
}

.svg-iconYoutubeGray-box {
	width: 42px;
	height: 36px;
}

.svg-iconYoutubeWhite {
	@extend %svg-common;
	background-position: 39.953271028037385% 19.194312796208532%;
}

.svg-iconYoutubeWhite-box {
	width: 44px;
	height: 38px;
}

