//-form
section.form 
    .wrapper 
        .formFlexContaier
            .formAction
                h2.page__title-h2 Get in touch. 
                    span.page_red Let’s Say Hi!
                form(action="javascript:void(0)").page__from
                    input(type="text" placeholder="First Name").page__input
                    input(type="text" placeholder="Last Name").page__input
                    input(type="email" placeholder="Email").page__input
                    textarea(name="message", placeholder="Message").page__textarea
                    button.page__btn send Message
            .formImg
                 img(src="assets/images/png/shared/imgForm.png", alt="imgForm")