extends ../../pug/templates/template

block base
	base(href="../")

block title
	title Faq

block append style

block content
	main.page.pageFaq
		section.pageTitle
			.wrapper
				h2.page__title-h2.page__title-h2_big SUPPORT 
					span.page__title-h2_small.page__title-h2_absolute Find Answers
					span FAQ
		include ../../components/faq/faqBig.component.pug
		include ../../components/usEmail/usEmail.component.pug
		include ../../components/form/form.component.pug