extends ../../pug/templates/template

block base
	base(href="../")

block title
	title Faq

block append style

block content
	main.page.pageFaq
		.wrapper
			h2.page__title-h2.page__title-h2_big SUPPORT 
				span.page__title-h2_small.page__title-h2_absolute Find Answers
				span FAQ
		include ../../components/faq/faqBig.component.pug
		section.usEmail
			.wrapper
				p.page__text Can't find the answer you're interested in? Email us. 
					a(href="javascript:void(0)").page_red rschiphelp@gmail.com 
					| or
		include ../../components/form/form.component.pug
		

block modals
	
block append style

block append script
	script(src="/js/faq/faq.component.js")
