extends ../../pug/templates/template

block base
	base(href="../")

block title
	title Cart

block append style

block content
	main.page
		.wrapper
			.pageCartTitle
				h2.page__title-h2.page__title-h2_big ORDERS 
					span.page__title-h2_small.page__title-h2_absolute Shopping
				h3 Cart 
			.cartEmpty
				.cartEmptyTitle Your Cart is 
					span.page_red empty
				.cartEmptyDesc Once selected your item well appear here
				button.page__btn CONTINUE SHOPPING 

			.cartTable
				include ../../components/cartProducts/cartProducts.component.pug
				include ../../components/cartDetails/cartDetails.component.pug