extends ../../pug/templates/template

block base
	base(href="../")

block title
	title Chip

block append style

block content
	main.page
		include ../../components/banner/bannerChip.component.pug
		include ../../components/productOnPage/productOnPageChip.component.pug
		include ../../components/power/power.component.pug
		include ../../components/steps/stepsChip.component.pug
		include ../../components/howitwork/howitworkChip.component.pug
		include ../../components/performance/performanceChip.component.pug
		include ../../components/optimizeBlockChip/optimizeBlockChip.component.pug
		include ../../components/productSlider/productSliderChip.component.pug
		include ../../components/faq/faq.component.pug
