section.optimizeBlock
    .wrapper
        .optimizeRowFlex
            .optimizeBlockContainer
                .optimizeBlockText 
                    h2.page__title-h2_small optimize
                    h3.page__title-h3 More power and at your fingertips
                    .optimizeBlockTextDescription Upgrade your drive right from the smartphone. Save fuel or drive faster by selecting out of 3 available modes Sport Plus, SPORT or ECO. Fine-tune each mode to get the most our of your car.
                    #tabs.tab-contents.optimizeBlockChart
                        .tab-nav
                            .tab-link.is-active Eco
                            .tab-link Sport
                            .tab-link Sport +
                        .tab-content.is-active
                            img(src="assets/images/png/chip/optimizeBlockImgChart.png", alt="optimizeBlockImgChart")

                        .tab-content
                            img(src="assets/images/png/chip/optimizeBlockImgChart.png", alt="optimizeBlockImgChart")

                        .tab-content
                            img(src="assets/images/png/chip/optimizeBlockImgChart.png", alt="optimizeBlockImgChart")

                .optimizeBlockImg
                    img(src="assets/images/png/chip/imgOptimizeBlockPhone.png", alt="imgOptimizeBlockPhone")

        