//-gallary
mixin item(imgSrc)
    .gallaryItem.js-open-modal(data-modal="modalGallary")
        picture 
            img(src=imgSrc, alt="imgGallary")
section.gallary
    .wrapper
        .gallaryFlexContainer
            .gallaryCol
                +item("assets/images/png/imgGallary1.png")
                +item("assets/images/png/imgGallary2.png")
            .gallaryCol
                +item("assets/images/png/imgGallary3.png")
                +item("assets/images/png/imgGallary4.png")
            .gallaryCol
                +item("assets/images/png/imgGallary5.png")
                +item("assets/images/png/imgGallary6.png")