//-gallary
section.gallary
    .wrapper
        .gallaryFlexContainer
            .gallaryCol
                .gallaryItem
                    picture 
                        img(src="assets/images/png/imgGallary1.png", alt="imgGallary")
                .gallaryItem
                    picture 
                        img(src="assets/images/png/imgGallary2.png", alt="imgGallary")
            .gallaryCol
                .gallaryItem
                    picture 
                        img(src="assets/images/png/imgGallary3.png", alt="imgGallary")
                .gallaryItem
                    picture 
                        img(src="assets/images/png/imgGallary4.png", alt="imgGallary")
            .gallaryCol
                .gallaryItem
                    picture 
                        img(src="assets/images/png/imgGallary5.png", alt="imgGallary")
                .gallaryItem
                    picture 
                        img(src="assets/images/png/imgGallary6.png", alt="imgGallary")