//-gallary
section.gallary
    .wrapper
        .gallaryFlexContainer
            .gallaryCol
                .gallaryItem
                    picture 
                        img(src="assets/images/png/imgGallary1.png", alt="imgGallary")
                .gallaryItem
                    picture 
                        img(src="assets/images/png/imgGallary1.png", alt="imgGallary")
            .gallaryCol
                .gallaryItem
                    picture 
                        img(src="assets/images/png/imgGallary1.png", alt="imgGallary")
                .gallaryItem
                    picture 
                        img(src="assets/images/png/imgGallary1.png", alt="imgGallary")
            .gallaryCol
                .gallaryItem
                    picture 
                        img(src="assets/images/png/imgGallary1.png", alt="imgGallary")
                .gallaryItem
                    picture 
                        img(src="assets/images/png/imgGallary1.png", alt="imgGallary")