//-news
mixin item(imgSrc, title)
    .newsItem.js-open-modal(data-modal="modalNews")
        .newsItemImg
            img(src=imgSrc, alt="imgNews")
        h4.newsItemTitle=title
        div.modalContent
            h3.modalTitle BMW M5 tuned by RS chip at our dealer’s car repair shop
            .modalDate 12 june 2021
            img(src="assets/images/png/news/imgNewsPopup.png", alt="imgGallary")
            p.page__text Developing the best possible ECU remap (chiptuning) for a car requires time and intimate knowledge of the vehicle you’re tuning. In order to provide high quality ECU remaps, our mappings are developed exclusively for BMW and MINI cars. Before we add an ECU remap to our line-up, we make sure it’s tested thoroughly on our dyno. Our software is engineered to create a smooth power delivery that keeps going till the redline, without putting your engine at risk. Besides that our Stage 2 and Stage 3 software are designed to get the most out of our Mosselman high-end performance parts.
            img(src="assets/images/png/news/imgNewsPopup2.png", alt="imgGallary")
            img(src="assets/images/png/news/imgNewsPopup3.png", alt="imgGallary")
            p.page__text Developing the best possible ECU remap (chiptuning) for a car requires time and intimate knowledge of the vehicle you’re tuning. In order to provide high quality ECU remaps, our mappings are developed exclusively for BMW and MINI cars.

section.news 
    .wrapper 
        h2.page__title-h2_small Our Blog
        h3.page__title-h3 News & Events
        .newsFlexContainer 
            +item("assets/images/png/news/imgNews1.png", "BMW M5 tuned by RS chip at our dealer’s car repair shop")
            +item("assets/images/png/news/imgNews2.png", "Jaguar F type tuned bt RSCHIP in South Korea")
            +item("assets/images/png/news/imgNews3.png", "2020 Porsche Cayenne Turbo 4.0 tuned by RS CHIP")