section.howitworkChip
    .wrapper
        .howitworkChipRowFlex
            .howitworkChipCol
                h2.page__title-h2_small The RSCHIP
                h3.page__title-h3 How does it work?
                .howitworkChipText The RSChip utilizes new high speed IO to communicate directly with the ECU through the OBD-II port. Inside your car’s ECU, a 3-dimensional map tells your fuel injectors exactly how much fuel to deliver given current air temperature, density, engine speed, throttle position, and other variables. 
                .howitworkChipText From the factory, this map is generic and designed to provide a sluggish, no-surprises style of driving to suit a wide range of drivers.
            .howitworkChipCol
                .howitworkChipText The RSCHIP performance tuner temporarily replaces parts of this map with parts from our highly tuned performance maps, and will safely unleash your engine's full potential, without voiding the warranty.
                .howitworkChipImg 
                    img(src="assets/images/png/chip/imgHowitworkChip.png", alt="imgHowitworkChip")
