//-contacts
section.contacts 
    .wrapper
        h2.page__title-h2.page__title-h2_big WELLCOME 
            span.page__title-h2_small.page__title-h2_absolute Get in touch 
        h2 Contact Us
        include ../contactCards/contactCards.component.pug
include ../form/form.component.pug
include ../map/map.component.pug
include ../social/social.component.pug