//-contacts
section.contacts
    include ../title/title.mixin.pug
    +title({
        titleBig: "WELLCOME",
        titleAbsolute: "Get in touch",
        titleH2: "Contact Us"
    })
    include ../contactCards/contactCards.component.pug
include ../form/form.component.pug
include ../map/map.component.pug
include ../social/social.component.pug