%svg-common {
	background: url("../assets/icons/svg/spriteSVG.svg") no-repeat;
}

.svg-iconCart {
	@extend %svg-common;
	background-position: 32.05128205128205% 97.92857142857143%;
}

.svg-iconCart-box {
	width: 47px;
	height: 47px;
}

.svg-iconChat {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-iconChat-box {
	width: 52px;
	height: 52px;
}

.svg-iconChatGray {
	@extend %svg-common;
	background-position: 34.437086092715234% 0;
}

.svg-iconChatGray-box {
	width: 52px;
	height: 52px;
}

.svg-iconEmailGray {
	@extend %svg-common;
	background-position: 0 99.87417218543047%;
}

.svg-iconEmailGray-box {
	width: 50px;
	height: 50px;
}

.svg-iconEmalPurple {
	@extend %svg-common;
	background-position: 0 33.72462546209223%;
}

.svg-iconEmalPurple-box {
	width: 52px;
	height: 46.81px;
}

.svg-iconFacebookWhite {
	@extend %svg-common;
	background-position: 56.395348837209305% 93.0925925925926%;
}

.svg-iconFacebookWhite-box {
	width: 31px;
	height: 39px;
}

.svg-iconFreeShipping {
	@extend %svg-common;
	background-position: 34.437086092715234% 33.29065300896287%;
}

.svg-iconFreeShipping-box {
	width: 52px;
	height: 44.8px;
}

.svg-iconInstagramWhite {
	@extend %svg-common;
	background-position: 63.80368098159509% 32.298136645962735%;
}

.svg-iconInstagramWhite-box {
	width: 40px;
	height: 40px;
}

.svg-iconMarkLocationGray {
	@extend %svg-common;
	background-position: 66.66666666666667% 0;
}

.svg-iconMarkLocationGray-box {
	width: 47px;
	height: 52px;
}

.svg-iconMarkLocationPurple {
	@extend %svg-common;
	background-position: 0 66.31543624161074%;
}

.svg-iconMarkLocationPurple-box {
	width: 45.6px;
	height: 52px;
}

.svg-iconMarkMapPurple {
	@extend %svg-common;
	background-position: 28.72983870967742% 66.31543624161074%;
}

.svg-iconMarkMapPurple-box {
	width: 44.28px;
	height: 52px;
}

.svg-iconPhoneGray {
	@extend %svg-common;
	background-position: 55.48148148148148% 66.31543624161074%;
}

.svg-iconPhoneGray-box {
	width: 41px;
	height: 52px;
}

.svg-iconReturnCircle {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-iconReturnCircle-box {
	width: 52px;
	height: 52px;
}

.svg-iconShield {
	@extend %svg-common;
	background-position: 98.69281045751634% 34.899328859060404%;
}

.svg-iconShield-box {
	width: 50px;
	height: 52px;
}

.svg-iconYoutubeWhite {
	@extend %svg-common;
	background-position: 94.96855345911949% 63.80368098159509%;
}

.svg-iconYoutubeWhite-box {
	width: 44px;
	height: 38px;
}

