%svg-common {
	background: url("../assets/icons/svg/spriteSVG.svg") no-repeat;
}

.svg-iconCart {
	@extend %svg-common;
	background-position: 44.44444444444444% 96.67307692307692%;
}

.svg-iconCart-box {
	width: 47px;
	height: 47px;
}

.svg-iconChat {
	@extend %svg-common;
	background-position: 0 0;
}

.svg-iconChat-box {
	width: 52px;
	height: 52px;
}

.svg-iconChatGray {
	@extend %svg-common;
	background-position: 23.636363636363637% 0;
}

.svg-iconChatGray-box {
	width: 52px;
	height: 52px;
}

.svg-iconEmailGray {
	@extend %svg-common;
	background-position: 22.52252252252252% 98.56862745098039%;
}

.svg-iconEmailGray-box {
	width: 50px;
	height: 50px;
}

.svg-iconEmalPurple {
	@extend %svg-common;
	background-position: 0 33.29278442922082%;
}

.svg-iconEmalPurple-box {
	width: 52px;
	height: 46.81px;
}

.svg-iconFacebookGray {
	@extend %svg-common;
	background-position: 96.69421487603306% 22.89156626506024%;
}

.svg-iconFacebookGray-box {
	width: 30px;
	height: 37px;
}

.svg-iconFacebookWhite {
	@extend %svg-common;
	background-position: 84.23236514522821% 0;
}

.svg-iconFacebookWhite-box {
	width: 31px;
	height: 39px;
}

.svg-iconFreeShipping {
	@extend %svg-common;
	background-position: 23.636363636363637% 32.86978508217447%;
}

.svg-iconFreeShipping-box {
	width: 52px;
	height: 44.8px;
}

.svg-iconInstagramGray {
	@extend %svg-common;
	background-position: 100% 0;
}

.svg-iconInstagramGray-box {
	width: 38px;
	height: 38px;
}

.svg-iconInstagramWhite {
	@extend %svg-common;
	background-position: 63.36206896551724% 92.52147239263803%;
}

.svg-iconInstagramWhite-box {
	width: 40px;
	height: 40px;
}

.svg-iconMarkLocationGray {
	@extend %svg-common;
	background-position: 46.22222222222222% 0;
}

.svg-iconMarkLocationGray-box {
	width: 47px;
	height: 52px;
}

.svg-iconMarkLocationPurple {
	@extend %svg-common;
	background-position: 0 65.43708609271523%;
}

.svg-iconMarkLocationPurple-box {
	width: 45.6px;
	height: 52px;
}

.svg-iconMarkMapPurple {
	@extend %svg-common;
	background-position: 20.02459160372387% 65.43708609271523%;
}

.svg-iconMarkMapPurple-box {
	width: 44.28px;
	height: 52px;
}

.svg-iconPhoneGray {
	@extend %svg-common;
	background-position: 38.90909090909091% 65.43708609271523%;
}

.svg-iconPhoneGray-box {
	width: 41px;
	height: 52px;
}

.svg-iconPhonePurple {
	@extend %svg-common;
	background-position: 68.63636363636364% 0;
}

.svg-iconPhonePurple-box {
	width: 52px;
	height: 52px;
}

.svg-iconReturnCircle {
	@extend %svg-common;
	background-position: 68.63636363636364% 34.437086092715234%;
}

.svg-iconReturnCircle-box {
	width: 52px;
	height: 52px;
}

.svg-iconShield {
	@extend %svg-common;
	background-position: 0 99.87417218543047%;
}

.svg-iconShield-box {
	width: 50px;
	height: 52px;
}

.svg-iconYoutubeGray {
	@extend %svg-common;
	background-position: 45.21739130434783% 31.137724550898202%;
}

.svg-iconYoutubeGray-box {
	width: 42px;
	height: 36px;
}

.svg-iconYoutubeWhite {
	@extend %svg-common;
	background-position: 66.2280701754386% 63.03030303030303%;
}

.svg-iconYoutubeWhite-box {
	width: 44px;
	height: 38px;
}

