extends ../../pug/templates/template

block base
	base(href="../")

block title
	title Shop

block append style

block content
	main.page.pageShop
		include ../../components/products/productsCart.component.pug
		.wrapper 
			div.pageShop__textAfter * Real world gains may be less or more depending on a large number of contributing factors such as displacement, aspiration and selected tuning mode
		include ../../components/addToCart/addToCart.component.pug