//-cartProducts

.cartProducts
    .cartProductsHeader
        div Product
        div Quantity
        div Total Price

    .cartProduct
        .cartProductThumbnails
            img(src="assets/images/png/cartProductThumbnails1.png", alt="cartProductThumbnails")
        .cartProductName 
            div.productName RS Chip 
            div.carName Toyota Mark ll
        .cartProductQuantity
            .quantity
                div -
                div 2
                div +
        .cartProductPrice 
            div 199 $
        .cartProductRemove 
            .svg-iconTrash.svg-iconTrash-box
        .cartProductSelect
            include ../select/selectBoxCart.component.pug
    .cartProduct
        .cartProductThumbnails
            img(src="assets/images/png/cartProductThumbnails2.png", alt="cartProductThumbnails")
        .cartProductName 
            div.productName RS Chip 
            div.carName Toyota Mark ll
        .cartProductQuantity
            .quantity
                div -
                div 2
                div +
        .cartProductPrice 
            div 199 $
        .cartProductRemove 
            .svg-iconTrash.svg-iconTrash-box
        .cartProductSelect
            include ../select/selectBoxCart.component.pug
    .cartProductsFooter 
        button.page__btn CONTINUE SHOPPING
        .cartProductsCode
            input(type="text" placeholder="EVQQ-LIJ1-DASJ-12KF")
            p Apply