section.banner
    .wrapper
        .bannerFlexContainer
            .bannerText
                h1.page__title-h1_big POWER
                h1
                    span More power     
                    | for your car with RSCHIP
                p.pageText AIncrease power, save fuel, create dyno charts, Measure acceleration and more
                .social
                    a.icon.icon-instagram-png(href="javascript:void(0)")
                    a.icon.icon-facebook-png(href="javascript:void(0)")
                    a.icon.icon-youtube-png(href="javascript:void(0)")
            .bannerImg
                picture 
                    +picture("imgBanner1-xs", "imgBanner1-lg", "imgBanner1", 992)