section.banner.bannerRs
    .wrapper
        .bannerFlexContainer
            .bannerText
                h1.page__title-h1_big RSCHIP
                h1.page__title-h1
                    span.page_red Better acceleration 
                    | <br> with RS Response 
                p.pageText Better acceleration and sportier thotlle response for your Car
                include ../socialIcons/socialIcons.component.pug
                
            .bannerImg
                img(src="assets/images/png/imgBannerRs-Md.png", alt="imgBannerRs")
                img.chip(src="assets/images/png/imgBannerChip-Md.png", alt="imgBannerRs")
            .bannerSelect
                include ../select/select.component.pug