/*banner*/
.banner
    overflow: hidden
    .page__title-h1
        
        &_big
            +shift-md-right(-9)
        margin-top: 46px
        width: 85%
        +sm-block
            margin-top: 28px
            width: 78%
        +md-block
            width: 100%
        +lg-block
            width: 100%
            
    .pageText
        margin-top: 31px
        padding-right: 15px
        margin-bottom: 58px

        +sm-block
            margin-bottom: 64px

    .socialIcons
        margin-bottom: 54px
        +sm-block
            margin-bottom: 66px
        +md-block
            margin-bottom: 0
            position: absolute
            bottom: 83px
        +lg-block
            margin-bottom: 0
            position: absolute
            bottom: 83px


.bannerFlexContainer
    +row-flex()
    // align-items: center
.bannerText
    +col()
    +size(9)
    +size-md(3)
    +size-lg(2.8)
    position: relative
    padding-top: 60px
    +sm-block
        padding-left: 63px
    +md-block
        padding-left: 0
    +lg-block
        padding-left: 0
.bannerImg
    // +col()
    width: 100%
    +size-md(9)
    +size-lg(9.2)
    +shift-md-right(-3)
    img
        width: 100%
        +md-block
            width: auto
        +lg-block
            width: auto

