//-socialIcons
.socialIcons
    a.icon(href="javascript:void(0)")
        img(src="assets/images/svg/iconInstagramWhite.svg", alt="iconInstagramWhite")
    a.icon(href="javascript:void(0)")
        img(src="assets/images/svg/iconFacebookWhite.svg", alt="iconFacebookWhite")
    a.icon(href="javascript:void(0)")
        img(src="assets/images/svg/iconYoutubeWhite.svg", alt="iconYoutubeWhite")