//-socialIcons
.socialIcons
    a.icon.svg-iconInstagramGray.svg-iconInstagramGray-box(href="javascript:void(0)")
    a.icon.svg-iconFacebookGray.svg-iconFacebookGray-box(href="javascript:void(0)")
    a.icon.svg-iconYoutubeGray.svg-iconYoutubeGray-box(href="javascript:void(0)")